<section class="scroll-mt-16 dark:text-gray-200" id="">
  <div class="px-4 py-16 mx-auto max-w-3xl lg:px-8 lg:py-10">
    <div class="mb-10">
      <h2 class="text-2xl sm:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading text-center">
        Keyback Affiliates
      </h2>
      <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/835832786?h=0b8aafebda&badge=0&autopause=0&player_id=0&app_id=58479"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Keyback Affiliate Program"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
    </div>
    <p>The KEYBACK Affiliate Program:</p>
    <ol class="mt-5">
      <li><p>Make a base rate of 20% of the KEYBACK retail offer price.</p></li>
      <li>
        <p class="mt-5">
          BONUSES: Bonuses kick in when you refer 10 or more sales. 10 to 19 customers in a month make an additional 10%
          on your base commission rate (ie. 22% of retail) , 20+ customers a month make 20% extra on your base commision
          rate (24% of retail).
        </p>
      </li>
      <li>
        <p class="mt-5">
          Our Base Level Affiliate Program also offers Unilevel MLM! Build an unlimited width affiliate army underneath
          you, up to 2 levels deep! Earn 10% of retail sales on your first level and 5% of retail sales on your second
          level.
        </p>
      </li>
    </ol>
    <p class="mt-5">
      After sign up, you will get access to your custom referral links and your own dashboard. Start earning right away
      just by sharing KEYBACK with your circle of friends via your affiliate link. See you on the inside :)
    </p>
    <p class="mt-5 underline text-burntorange uppercase">
      <a href="https://affiliates.keyback.io/">Click Here To Join The Keyback Affiliate Program</a>
    </p>
  </div>
</section>
