<section class="scroll-mt-16 pb-20 dark:text-gray-200 dark:bg-gray-900" id="">
  <div class="px-4 mx-auto max-w-3xl lg:px-8 pt-10">
    <div class="mb-10">
      <h2 class="text-2xl sm:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading text-center">
        Join The Keyback Affiliate Program
      </h2>
      <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/835832786?h=0b8aafebda&badge=0&autopause=0&player_id=0&app_id=58479"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Keyback Affiliate Program"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
    </div>
    <div class="mx-auto md:ml-0 mt-8 lg:mt-15 max-w-xs sm:max-w-sm center mb-10 text-burntorange uppercase">
      <!-- <a href="https://affiliates.keyback.io/">Join The Keyback Affiliate Program</a> -->
      <a class="btn btn-primary" href="https://affiliates.keyback.io/" target="_self" rel="noopener">
        Become An Affiliate
      </a>
    </div>
    <div>
      <h3
        class="text-2xl font-bold leading-tighter tracking-tighter dark:mb-4 font-heading dark:text-gray-200 text-gray-800 text-left"
      >
        How It Works:
      </h3>

      <p>Make a base rate of 20% of the KEYBACK retail offer price.</p>

      <p class="mt-5">
        BONUSES: Bonuses kick in when you refer 10 or more sales. 10 to 19 customers in a month make an additional 10%
        on your base commission rate (ie. 22% of retail) , 20+ customers a month make 20% extra on your base commision
        rate (24% of retail).
      </p>

      <p class="mt-5">
        Our Base Level Affiliate Program also offers Unilevel MLM! Build an unlimited width affiliate army underneath
        you, up to 2 levels deep! Earn 10% of retail sales on your first level and 5% of retail sales on your second
        level.
      </p>

      <p class="mt-5">
        IMPORTANT: When you sign up, you will be able to enter a public wallet address for your affiliate earnings. This
        is where we will make payment to. Be sure to only enter a wallet address for the specific crypto you want to be
        paid in. Choices are BTC, ETH, LTC and XLM. If you enter addresses in more than one, we will decide
        cryptocurrency to pay you in. After sign up, you will get access to your custom referral links and your own
        dashboard. Start earning right away just by sharing KEYBACK with your circle of friends via your affiliate link.
        See you on the inside :)
      </p>
    </div>
  </div>
</section>
