---
---

<div
  class="hidden md:block bg-orange-600 dark:bg-orange-600 dark:border-orange-600 dark:text-orange-400 border-b border-orange-500 text-sm px-3 py-2 text-white overflow-hidden whitespace-nowrap text-ellipsis"
>
  <span
    class="text-xs py-0.5 px-1 bg-primary dark:bg-burntorange dark:text-white font-semibold relative -top-[2px] mr-1"
    >NEXT 300 GET 50% OFF</span
  >
  <a href="https://keyback.io/#pricing" class="hover:underline text-white dark:text-white">Don't miss out! »</a>
</div>
