<section
  class="dark:text-white bg-cover lg:bg-auto dark:bg-[url('~/assets/images/cannot-help-you-dave.png')] dark:bg-no-repeat bg-center dark:border-top-1 dark:border-x-0 dark:border-black border"
  id=""
>
  <div class="mx-auto max-w-6xl h-96">
    <div class="h-96 flex flex-col justify-center">
      <h2
        class="px-2 text-4xl md:text-5xl lg:text-6xl xl:text-6xl font-bold leading-tighter tracking-tight font-heading text-center drop-shadow-2xl"
      >
        Sorry, Dave.<br />I'm afraid I can't do that.
      </h2>
    </div>
  </div>
</section>
