<anchor id="faq" class="scroll-mt-10" style="margin-bottom:20px; display:block"></anchor>
<section>
  <div class="px-4 py-16 mx-auto max-w-6xl lg:py-10">
    <div class="max-w-3xl sm:mx-auto lg:max-w-4xl">
      <h2
        class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-10 font-heading text-center"
        set:html="FAQs"
      />
      <div
        id="accordion-color"
        data-accordion="collapse"
        data-active-classes="bg-blue-100 dark:bg-gray-800 text-blue-600 dark:text-white"
      >
        <!-- faq first 1-->
        <h2 id="accordion-color-heading-1">
          <button
            type="button"
            class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-blue-200 dark:focus:ring-gray-200 dark:border-gray-700 dark:text-gray-300 hover:bg-blue-100 dark:hover:bg-gray-800"
            data-accordion-target="#accordion-color-body-1"
            aria-expanded="true"
            aria-controls="accordion-color-body-1"
          >
            <span class="dark:text-white">KEYBACK - What Is It?</span>
            <svg
              data-accordion-icon
              class="w-6 h-6 rotate-180 shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div id="accordion-color-body-1" class="hidden" aria-labelledby="accordion-color-heading-1">
          <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-800">
            <p class="mb-2 text-gray-500 dark:text-white pb-4">
              There's never been a simple, safe and automated way to give cryptocurrency to your heirs after you pass
              away, until now. We created a highly secure and trustless way of storing and passing on your sensitive
              wallet seed phrases to your loved ones.
            </p>
            <p class="mb-2 text-gray-500 dark:text-white pb-4">
              Your backup is so secure, not even government hacker teams can get near it. Its a digital Fort Knox. And
              we provide permanent backup and recovery 24/7. Never lose your keys seeds and logins again. Update your
              portfolio any time you like... you have that flexibility.
            </p>
            <p class="mb-2 text-gray-500 dark:text-white">
              Your wealth and that of your family is critical. We are honored to provide a solution to ensure they'll
              never lose access to what you've built.
            </p>
          </div>
        </div>
        <!-- faq middle 2-->
        <h2 id="accordion-color-heading-2">
          <button
            type="button"
            class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-gray-200 dark:border-gray-700 dark:text-gray-300 hover:bg-blue-100 dark:hover:bg-gray-800"
            data-accordion-target="#accordion-color-body-2"
            aria-expanded="false"
            aria-controls="accordion-color-body-2"
          >
            <span>Why do I need it?</span>
            <svg
              data-accordion-icon
              class="w-6 h-6 shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div id="accordion-color-body-2" class="hidden" aria-labelledby="accordion-color-heading-2">
          <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-800">
            <p class="mb-2 text-gray-500 dark:text-gray-300 pb-4">
              Do you have a hardware wallet like a trezor or ledger? Do you have software wallets like exodus,
              trustwallet, metamask or some other multi-asset wallet on your computer? Chances are you've written down
              your seeds and hidden it or at best, locked it in a safe. Unfortunately this is highly insecure.
            </p>
            <p class="mb-2 text-gray-500 dark:text-gray-300 pb-4">
              Not only do you run the risk of fire, water, wind damage and other natural disasters ... You may lose it,
              vermin may eat it, it may be stolen or it could be accessed by someone who knows you own crypto. There's
              any number of scenarios where you lose everything because you didn't adequately protect your assets. Not
              to mention after you're no longer around, there's probably a lot to piece together for someone who hasn't
              been managing these wallets and accounts.
            </p>
            <p class="mb-2 text-gray-500 dark:text-gray-300 pb-4">
              The idea behind Keyback is that its highly secure, offsite, has backup redundancy, and offers a complete
              step by step plan for your loved ones to recover your valuable digital assets, cryptos, and logins. And
              best of all, your anonymity is maintained. You do not need to involve any third parties. You can pass on
              an unlimited amount of text data to your family.
            </p>
            <p class="mb-2 text-gray-500 dark:text-gray-300 pb-4">
              You know the value of your assets is going to be significant. Don't risk it. Be paranoid about your
              digital security and future wealth.
            </p>
          </div>
        </div>
        <!-- faq middle 3-->
        <h2 id="accordion-color-heading-3">
          <button
            type="button"
            class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-gray-200 dark:border-gray-700 dark:text-gray-300 hover:bg-blue-100 dark:hover:bg-gray-800"
            data-accordion-target="#accordion-color-body-3"
            aria-expanded="false"
            aria-controls="accordion-color-body-3"
          >
            <span>How does it work?</span>
            <svg
              data-accordion-icon
              class="w-6 h-6 shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div id="accordion-color-body-3" class="hidden" aria-labelledby="accordion-color-heading-3">
          <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-800">
            <p class="mb-2 text-gray-500 dark:text-gray-300 pb-4">
              Using our simple tools, you will use 256 bit AES multi-encryption to securely protect and break up your
              seed words, logins and account info. These will be stored across various locations, to be re-built and
              decrypted by those you designate, only after your Dead Man's Switch has been activated and your waiting
              period has expired. You select trustees who can vouch for your health status. Should you become
              un-contactable, your Trustees collectively will determine if you have passed away or been seriously
              incapacitated. If consensus is reached, the secure encrypted data you stored in the vault will be made
              available to your heir(s). You can even leave a secret message for them which will only be revealed when
              they gain access to your vault.
            </p>
          </div>
        </div>
        <!-- faq middle 4-->
        <h2 id="accordion-color-heading-4">
          <button
            type="button"
            class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-gray-200 dark:border-gray-700 dark:text-gray-300 hover:bg-blue-100 dark:hover:bg-gray-800"
            data-accordion-target="#accordion-color-body-4"
            aria-expanded="false"
            aria-controls="accordion-color-body-4"
          >
            <span>What are you selling?</span>
            <svg
              data-accordion-icon
              class="w-6 h-6 shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div id="accordion-color-body-4" class="hidden" aria-labelledby="accordion-color-heading-4">
          <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-800">
            <p class="mb-2 text-gray-500 dark:text-gray-300 pb-4">
              We are selling standard level lifetime access to the Keyback service, which includes 5 Trustees and 5
              Beneficiaries free. This turnkey backup and recovery system for crypto and digital assets also includes
              vault storage and a Dead Mans Switch (DMS), training videos, instructions and support. Our aim is for you
              (as a cryptocurrency investor) to be totally confident in your backup and recovery, and digital estate
              plan that passes your assets to loved ones if you pass away.
            </p>
          </div>
        </div>
        <!-- faq middle 5 -->
        <h2 id="accordion-color-heading-5">
          <button
            type="button"
            class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-gray-200 dark:border-gray-700 dark:text-gray-300 hover:bg-blue-100 dark:hover:bg-gray-800"
            data-accordion-target="#accordion-color-body-5"
            aria-expanded="false"
            aria-controls="accordion-color-body-5"
          >
            <span>How much does it cost?</span>
            <svg
              data-accordion-icon
              class="w-6 h-6 shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div id="accordion-color-body-5" class="hidden" aria-labelledby="accordion-color-heading-5">
          <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-800">
            <p class="mb-2 text-gray-500 dark:text-gray-300 pb-4">
              The introductory price for the first 300 customers of Keyback is $497 USD.
            </p>
          </div>
        </div>
        <!-- faq middle 6-->
        <h2 id="accordion-color-heading-6">
          <button
            type="button"
            class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-gray-200 dark:border-gray-700 dark:text-gray-300 hover:bg-blue-100 dark:hover:bg-gray-800"
            data-accordion-target="#accordion-color-body-6"
            aria-expanded="false"
            aria-controls="accordion-color-body-6"
          >
            <span>Is it safe and secure?</span>
            <svg
              data-accordion-icon
              class="w-6 h-6 shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div id="accordion-color-body-6" class="hidden" aria-labelledby="accordion-color-heading-6">
          <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-800">
            <p class="mb-2 text-gray-500 dark:text-gray-300 pb-4">
              Our website is SSL encrypted of course, and we use multiple hardened servers for the back end
              infrastructure of the Keyback service. You will only EVER store partial files that have themselves been
              multi-encrypted already. There is no possible way a hacker can crack our set of keys during the encryption
              process. Are we secure? In a word - YES!
            </p>
          </div>
        </div>
        <!-- faq middle 7-->
        <h2 id="accordion-color-heading-7">
          <button
            type="button"
            class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-gray-200 dark:border-gray-700 dark:text-gray-300 hover:bg-blue-100 dark:hover:bg-gray-800"
            data-accordion-target="#accordion-color-body-7"
            aria-expanded="false"
            aria-controls="accordion-color-body-7"
          >
            <span>Do I need to be a tech nerd?</span>
            <svg
              data-accordion-icon
              class="w-6 h-6 shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div id="accordion-color-body-7" class="hidden" aria-labelledby="accordion-color-heading-7">
          <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-800">
            <p class="mb-2 text-gray-500 dark:text-gray-300 pb-4">
              No, absolutely not. We walk you through the process using videos and screeenshots, and give you the
              encryption and decryption tools you need. If you can copy and paste, you're good to go!
            </p>
          </div>
        </div>
        <!-- faq middle 8-->
        <h2 id="accordion-color-heading-8">
          <button
            type="button"
            class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-gray-200 dark:border-gray-700 dark:text-gray-300 hover:bg-blue-100 dark:hover:bg-gray-800"
            data-accordion-target="#accordion-color-body-8"
            aria-expanded="false"
            aria-controls="accordion-color-body-8"
          >
            <span>Who holds my cryptos?</span>
            <svg
              data-accordion-icon
              class="w-6 h-6 shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div id="accordion-color-body-8" class="hidden" aria-labelledby="accordion-color-heading-8">
          <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-800">
            <p class="mb-2 text-gray-500 dark:text-gray-300 pb-4">
              You do. Just as you always have. We do not store your cryptos or other digital assets. You maintain them
              as always, in your own wallets & accounts.
            </p>
          </div>
        </div>
        <!-- faq middle 9-->
        <h2 id="accordion-color-heading-9">
          <button
            type="button"
            class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-gray-200 dark:border-gray-700 dark:text-gray-300 hover:bg-blue-100 dark:hover:bg-gray-800"
            data-accordion-target="#accordion-color-body-9"
            aria-expanded="false"
            aria-controls="accordion-color-body-9"
          >
            <span>What about disaster recovery?</span>
            <svg
              data-accordion-icon
              class="w-6 h-6 shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div id="accordion-color-body-9" class="hidden" aria-labelledby="accordion-color-heading-9">
          <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-800">
            <p class="mb-2 text-gray-500 dark:text-gray-300 pb-4">
              If you ever suffer a fire, flood or theft of your computer or devices – you will be backed up and ready to
              restore right away. Its critical that you have a recovery procedure in place. After you set up your
              account, you'll be fully protected. Redundancy is built into our system so you can sleep easy knowing
              you'll have access to your data should things go sideways.
            </p>
          </div>
        </div>
        <!-- faq middle 10-->
        <h2 id="accordion-color-heading-10">
          <button
            type="button"
            class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-gray-200 dark:border-gray-700 dark:text-gray-300 hover:bg-blue-100 dark:hover:bg-gray-800"
            data-accordion-target="#accordion-color-body-10"
            aria-expanded="false"
            aria-controls="accordion-color-body-10"
          >
            <span>What about paper wallets / private keys?</span>
            <svg
              data-accordion-icon
              class="w-6 h-6 shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div id="accordion-color-body-10" class="hidden" aria-labelledby="accordion-color-heading-10">
          <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-800">
            <p class="mb-2 text-gray-500 dark:text-gray-300 pb-4">
              You can store private keys, yes. You can store JSON files, software wallet phrases, usernames, passwords,
              URLs, bank details, hardware wallet seeds. There is no limit to what you can back up and encrypt and pass
              on to your loved ones. There is just one criteria - It must be in plain text format. This also means
              spreadsheets in csv format.
            </p>
          </div>
        </div>
        <!-- faq middle 11-->
        <h2 id="accordion-color-heading-11">
          <button
            type="button"
            class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-gray-200 dark:border-gray-700 dark:text-gray-300 hover:bg-blue-100 dark:hover:bg-gray-800"
            data-accordion-target="#accordion-color-body-11"
            aria-expanded="false"
            aria-controls="accordion-color-body-11"
          >
            <span>How does my spouse or significant other replicate my hardware wallet from your service?</span>
            <svg
              data-accordion-icon
              class="w-6 h-6 shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div id="accordion-color-body-11" class="hidden" aria-labelledby="accordion-color-heading-11">
          <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-800">
            <p class="mb-2 text-gray-500 dark:text-gray-300 pb-4">
              After copying and pasting the keys and encrypted file text into the decrypter, the original document will
              be revealed. This must be done offline for security reasons. At that point, wallets can be reconstituted.
              Software wallets can be downloaded and the seed phrases will restore the wallet. A seed phrase for a
              hardware wallet such as a Ledger Nano or Trezor or similar will need a new or existing hardware device.
              Once the seed phrase is entered your crypto assets will be accessible.
            </p>
          </div>
        </div>
        <!-- faq middle 12-->
        <h2 id="accordion-color-heading-12">
          <button
            type="button"
            class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-gray-200 dark:border-gray-700 dark:text-gray-300 hover:bg-blue-100 dark:hover:bg-gray-800"
            data-accordion-target="#accordion-color-body-12"
            aria-expanded="false"
            aria-controls="accordion-color-body-12"
          >
            <span>What if my accounts or seeds change?</span>
            <svg
              data-accordion-icon
              class="w-6 h-6 shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div id="accordion-color-body-12" class="hidden" aria-labelledby="accordion-color-heading-12">
          <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-800">
            <p class="mb-2 text-gray-500 dark:text-gray-300 pb-4">
              You can log in and create vault files at any time. You can do this as many times as you like or need. For
              example you may want to add a new exchange account or you bought a new hardware wallet. You can update
              this at all times and we'll walk you through that step by step.
            </p>
          </div>
        </div>
        <!-- faq middle 13-->
        <h2 id="accordion-color-heading-13">
          <button
            type="button"
            class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-gray-200 dark:border-gray-700 dark:text-gray-300 hover:bg-blue-100 dark:hover:bg-gray-800"
            data-accordion-target="#accordion-color-body-13"
            aria-expanded="false"
            aria-controls="accordion-color-body-13"
          >
            <span>How long does the system wait before sending the vault files to my heir(s)?</span>
            <svg
              data-accordion-icon
              class="w-6 h-6 shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div id="accordion-color-body-13" class="hidden" aria-labelledby="accordion-color-heading-13">
          <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-800">
            <p class="mb-2 text-gray-500 dark:text-gray-300 pb-4">
              You can choose 7, 14 or 28 days for the frequency of your 'Proof of Life' in the Dead Mans Switch. If you
              fail to check in, you will get an additional 28 days of time to do so, before your Trustees are asked to
              vouch for your 'good health' status. They have one month for this process and after that there is a
              further 1 month 'hold' before the vault is opened to your heirs. Altogether you have 3 months plus the
              initial 7, 14 or 28 day time period.
            </p>
          </div>
        </div>
        <!-- faq middle 14-->
        <h2 id="accordion-color-heading-14">
          <button
            type="button"
            class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-gray-200 dark:border-gray-700 dark:text-gray-300 hover:bg-blue-100 dark:hover:bg-gray-800"
            data-accordion-target="#accordion-color-body-14"
            aria-expanded="false"
            aria-controls="accordion-color-body-14"
          >
            <span>Is there any way to terminate the unlock procedure once it has started?</span>
            <svg
              data-accordion-icon
              class="w-6 h-6 shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div id="accordion-color-body-14" class="hidden" aria-labelledby="accordion-color-heading-14">
          <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-800">
            <p class="mb-14 text-gray-500 dark:text-gray-300">
              At any time during the verification period and the pre-determined wait time, the account holder (you) can
              verify your good health status. This resets the system and everything returns to normal. Your vault
              remains locked. Your Trustees can also do this on your behalf.
            </p>
          </div>
        </div>
        <!-- faq middle 15-->
        <h2 id="accordion-color-heading-15">
          <button
            type="button"
            class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-gray-200 dark:border-gray-700 dark:text-gray-300 hover:bg-blue-100 dark:hover:bg-gray-800"
            data-accordion-target="#accordion-color-body-15"
            aria-expanded="false"
            aria-controls="accordion-color-body-15"
          >
            <span>Can I use it to save social media logins?</span>
            <svg
              data-accordion-icon
              class="w-6 h-6 shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div id="accordion-color-body-15" class="hidden" aria-labelledby="accordion-color-heading-15">
          <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-800">
            <p class="mb-15 text-gray-500 dark:text-gray-300">
              Short answer - yes. User agreements to online services such as social media companies often retain
              ownership of an individual’s account after death and the family is not entitled to their login
              information. Passing on these details digitally with multi-key encryption using a DMS can circumvent this.
              While we are not advising anyone do this, it certainly is your prerogative to include such logins for your
              loved ones peace of mind. However, please know that you should seek legal advice in your jurisdiction.
            </p>
          </div>
        </div>
        <!-- faq middle 16-->
        <h2 id="accordion-color-heading-16">
          <button
            type="button"
            class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-gray-200 dark:border-gray-700 dark:text-gray-300 hover:bg-blue-100 dark:hover:bg-gray-800"
            data-accordion-target="#accordion-color-body-16"
            aria-expanded="false"
            aria-controls="accordion-color-body-16"
          >
            <span>What if your website gets hacked?</span>
            <svg
              data-accordion-icon
              class="w-6 h-6 shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div id="accordion-color-body-16" class="hidden" aria-labelledby="accordion-color-heading-16">
          <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-800">
            <p class="text-gray-500 dark:text-gray-300">
              The only information you store in your secure vault is one 25-character key and one password. Because the
              decryption process requires 4 keys and three files, it is incomplete, and therefore useless to hackers.
              You are 100% secure and safe even if there was a chance we could be hacked. Our servers are military grade
              and hardened.
            </p>
          </div>
        </div>
        <!-- faq middle 17-->
        <h2 id="accordion-color-heading-17">
          <button
            type="button"
            class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-gray-200 dark:border-gray-700 dark:text-gray-300 hover:bg-blue-100 dark:hover:bg-gray-800"
            data-accordion-target="#accordion-color-body-17"
            aria-expanded="false"
            aria-controls="accordion-color-body-17"
          >
            <span>What is the MasterKey for?</span>
            <svg
              data-accordion-icon
              class="w-6 h-6 shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div id="accordion-color-body-17" class="hidden" aria-labelledby="accordion-color-heading-17">
          <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-800">
            <p class="mb-2 text-gray-500 dark:text-gray-300 pb-4">
              The MasterKey is an optional 25 complex-character key or password that acts as a final layer of control on
              your digital assets. Rather than a security device, its more a way of requiring a formal procedure to take
              place before the vault can be decrypted. This can be stored in a master safe or with an attorney, friend
              of the family, or some other trusted custodian. Or is can be included in a digital trust or supplied to
              Beneficiaries at the reading of the Will.
            </p>
          </div>
        </div>
        <!-- faq middle 18-->
        <h2 id="accordion-color-heading-18">
          <button
            type="button"
            class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-gray-200 dark:border-gray-700 dark:text-gray-300 hover:bg-blue-100 dark:hover:bg-gray-800"
            data-accordion-target="#accordion-color-body-18"
            aria-expanded="false"
            aria-controls="accordion-color-body-18"
          >
            <span>Why can't I just use a regular will?</span>
            <svg
              data-accordion-icon
              class="w-6 h-6 shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div id="accordion-color-body-18" class="hidden" aria-labelledby="accordion-color-heading-18">
          <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-800">
            <p class="mb-18 text-gray-500 dark:text-gray-300 pb-4">
              A legal will exposes your details to legal professionals and in many cases the courts and the public. They
              are ill equipt to deal with sensitive digital information.
            </p>
            <p class="mb-18 text-gray-500 dark:text-gray-300 pb-4">
              Yes you could set up a digital asset protection trust, but you would still need to encrypt your data or
              place your full faith in your trustee which is a security threat. Secure trusts are a good way of storing
              some financial data but they are not risk-free.
            </p>
            <p class="mb-18 text-gray-500 dark:text-gray-300 pb-4">
              When we designed this system, we wanted a solution that specifically operated outside of the normal legal
              will/trust structure, that relies only on technology. This way you dont invite scrutiny, and you can
              control exactly what happens without trusting any third parties with your information or even the
              knowledge that you have cryptos to begin with. If you want maximum anonymity and control, then you want
              Keyback.
            </p>
          </div>
        </div>
        <!-- faq last 19-->
        <h2 id="accordion-color-heading-19">
          <button
            type="button"
            class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-gray-200 dark:border-gray-700 dark:text-gray-300 hover:bg-blue-100 dark:hover:bg-gray-800"
            data-accordion-target="#accordion-color-body-19"
            aria-expanded="false"
            aria-controls="accordion-color-body-19"
          >
            <span>What is Proof Of Life?</span>
            <svg
              data-accordion-icon
              class="w-6 h-6 shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div id="accordion-color-body-19" class="hidden" aria-labelledby="accordion-color-heading-19">
          <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700 dark:bg-gray-800">
            <p class="mb-2 text-gray-500 dark:text-gray-300 pb-4">
              In addition to email notifications, you have the option of verifying your good health status directly via
              the website on your computer, laptop or mobile device. We want to make the health check-ins convenient and
              quick. You can click an email link or log in and hit the `I'M ALIVE` button. This resets your Dead Mans
              Switch timer to zero again ready for the next check-in. No matter where you are in the world, if you can
              get to an internet connected device, you can check in. You have up to (almost) 4 months of time from
              before your vaults are made available to your Heir(s) / Beneficiaries.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
