---
import { Icon } from 'astro-icon';
---

<anchor id="how-it-works-section" class="scroll-mt-10" style="margin-bottom:20px; display:block"></anchor>
<section
  class="bg-white dark:bg-gray-800 py-10 relative z-10 scroll-mt-16 hiw-bgnd -left-1.5 px-2"
  style="min-width:100%;"
>
  <section class="dark:text-gray-100 hiw-bgnd px-2" style="max-width: 1280px; margin:auto;">
    <div class="container mx-auto flex flex-col">
      <h2
        class="text-4xl min-[1400px]:text-[90px] max-[1535px]:text-6xl min-[1536px]:text-6xl font-bold leading-tighter tracking-tighter dark:mb-8 font-heading dark:text-gray-200 text-gray-600 text-center mb-8"
      >
        How It Works
      </h2>

      <div class="absolute z-0 left-1/2 -ml-2 w-1 h-[92%] dark:bg-[#FF5E0E] bg-gray-400" style="top:260px;"></div>

      <div
        class="hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-[#FF5E0E] rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
      >
        <div
          class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
        >
          <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 1</h1>

            <p class="text-gray-500 dark:text-gray-300">
              Make An Inventory of Online Wallets, Software Wallets, Exchanges. Login Details, Seed-phrases,
              Public/Private Keys.
            </p>
          </div>
        </div>

        <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
          <span
            class="mb-5 text-xl tracking-wider uppercase dark:text-blue-400 text-blue-400 font-bold dark:font-normal md:mx-10"
            >Preparation <span
              class="bg-green-100 dark:bg-transparent text-green-700 text-sm font-medium px-2.5 relative left-1 -top-0.5 py-0.5 rounded dark:bg-gray-100 dark:text-green-400 border border-green-600"
              >EASY</span
            >
          </span>
          <span class="text-2xl font-bold md:text-3xl md:mx-10">Make An Inventory</span>
          <span class="mt-4 dark:text-gray-300 md:mx-10">
            Make an inventory of all your digital assets  (cryptocurrency and tokens) and login info you use for any
            online wallets, software wallets, or exchanges where you hold assets</span
          >
        </div>

        <div class="flex items-center justify-center lg:col-span-1 col-span-full">
          <span>
            <div><img src="./images/logo-sm.png" alt="" class="h-10 md:h-8 lg:h-10" /></div>
          </span>
        </div>
      </div>
      <!-- *******************************2 -->
      <div
        class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-[#FF5E0E] rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
      >
        <div
          class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
        >
          <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 2</h1>

            <p class="text-gray-500 dark:text-gray-300">
              Create Master-File. Make a spreadsheet in .csv, .txt file format or plain text format. Store file on USB
              Stick unencrypted.
            </p>
          </div>
        </div>

        <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
          <span
            class="mb-5 text-xl tracking-wider uppercase dark:text-blue-400 text-blue-400 font-bold dark:font-normal md:mx-10"
            >Create Master-File <span
              class="bg-green-100 dark:bg-transparent text-green-700 text-sm font-medium px-2.5 relative left-1 -top-0.5 py-0.5 rounded dark:bg-gray-100 dark:text-green-400 border border-green-600"
              >EASY</span
            ></span
          >
          <span class="text-2xl font-bold md:text-3xl md:mx-10">Organise Information</span>
          <span class="mt-4 dark:text-gray-300 md:mx-10">
            Create either a spreadsheet or a plain text file of all your assets, wallets, public/private keys, seed
            phrases, login information - anything digital you want to pass on to your heirs.</span
          >
        </div>
        <div class="flex items-center justify-center lg:col-span-1 col-span-full">
          <div><img src="./images/logo-sm.png" alt="" class="h-10 md:h-8 lg:h-10" /></div>
        </div>
      </div>
      <!-- *******************************3 -->

      <div
        class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-[#FF5E0E] rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
      >
        <div
          class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
        >
          <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 3</h1>

            <p class="text-gray-500 dark:text-gray-300">
              Create Master Files, with collated information. Use Keyback Encryptor to create file while the computer is
              disconnected from internet.
            </p>
          </div>
        </div>

        <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
          <span
            class="mb-5 text-xl tracking-wider uppercase dark:text-blue-400 text-blue-400 font-bold dark:font-normal md:mx-10"
            >SAVE IT <span
              class="bg-green-100 dark:bg-transparent text-green-700 text-sm font-medium px-2.5 relative left-1 -top-0.5 py-0.5 rounded dark:bg-gray-100 dark:text-green-400 border border-green-600"
              >EASY</span
            ></span
          >
          <span class="text-2xl font-bold md:text-3xl md:mx-10">Save Your File</span>
          <span class="mt-4 dark:text-gray-300 md:mx-10"
            >Save unencrypted .csv or .txt file format in a safe location - USB stick is ideal. This is your
            un-encrypted MASTERFILE.</span
          >
        </div>

        <div class="flex items-center justify-center lg:col-span-1 col-span-full">
          <div><img src="./images/logo-sm.png" alt="" class="h-10 md:h-8 lg:h-10" /></div>
        </div>
      </div>
      <!-- *******************************4 -->
      <div
        class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-[#FF5E0E] rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
      >
        <div
          class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
        >
          <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 4</h1>

            <p class="text-gray-500 dark:text-gray-300">
              Create Master Key. It's an optional step but an added level of security. Store in a safe or with Estate
              Attorney.
            </p>
          </div>
        </div>

        <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
          <span
            class="mb-5 text-xl tracking-wider uppercase dark:text-blue-400 text-blue-400 font-bold dark:font-normal md:mx-10"
            >Encrypt It<br class="hidden-break" style="display:none;" /><span
              class="bg-green-100 dark:bg-transparent text-green-700 text-sm font-medium px-2.5 relative left-1 -top-0.5 py-0.5 rounded dark:bg-gray-100 dark:text-green-400 border border-green-600"
              >VIDEO WALKTHROUGH
            </span></span
          >
          <span class="text-2xl font-bold md:text-3xl md:mx-10">AES-256 Military Grade</span>
          <span class="mt-4 dark:text-gray-300 md:mx-10"
            >Decide if you want to use a MASTER KEY - this will be kept either in your locked safe at home or business,
            or in your Living Will, via your estate attorney. This is a final level of encryption that is optional.</span
          >
        </div>
        <div class="flex items-center justify-center lg:col-span-1 col-span-full">
          <div><img src="./images/logo-sm.png" alt="" class="h-10 md:h-8 lg:h-10" /></div>
        </div>
      </div>
      <!-- *******************************5 -->

      <div
        class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-[#FF5E0E] rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
      >
        <div
          class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
        >
          <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 5</h1>

            <p class="text-gray-500 dark:text-gray-300">
              File Backup. Using multiple cloud storage services, backup your encrypted files using the links.
            </p>
          </div>
        </div>

        <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
          <span
            class="mb-5 text-xl tracking-wider uppercase dark:text-blue-400 text-blue-400 font-bold dark:font-normal md:mx-10"
            >storage<br class="hidden-break" style="display:none;" /><span
              class="bg-green-100 dark:bg-transparent text-green-700 text-sm font-medium px-2.5 relative left-1 -top-0.5 py-0.5 rounded dark:bg-gray-100 dark:text-green-400 border border-green-600"
              >VIDEO WALKTHROUGH
            </span></span
          >
          <span class="text-2xl font-bold md:text-3xl md:mx-10">Cloud Hosted Backups</span>
          <span class="mt-4 dark:text-gray-300 md:mx-10"
            >Using various free cloud hosting accounts, you will store your 3 files so that every file has two backup
            locations. You will copy down the share links to these file storage locations and store these in a text
            file.</span
          >
        </div>

        <div class="flex items-center justify-center lg:col-span-1 col-span-full">
          <div><img src="./images/logo-sm.png" alt="" class="h-10 md:h-8 lg:h-10" /></div>
        </div>
      </div>
      <!-- *******************************6 -->
      <div
        class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-[#FF5E0E] rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
      >
        <div
          class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
        >
          <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 6</h1>

            <p class="text-gray-500 dark:text-gray-300">Backup your text files on two password encrypted USB sticks.</p>
          </div>
        </div>

        <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
          <span
            class="mb-5 text-xl tracking-wider uppercase dark:text-blue-400 text-blue-400 font-bold dark:font-normal md:mx-10"
            >Backup<span
              class="bg-green-100 dark:bg-transparent text-green-700 text-sm font-medium px-2.5 relative left-1 -top-0.5 py-0.5 rounded dark:bg-gray-100 dark:text-green-400 border border-green-600"
              >EASY</span
            ></span
          >
          <span class="text-2xl font-bold md:text-3xl md:mx-10">Backup Text Files</span>
          <span class="mt-4 dark:text-gray-300 md:mx-10"
            >On 2 password encrypted USB sticks you will store the text files of the storage locations to your 3
            encrypted files, and 3 passwords you created during encryption.</span
          >
        </div>
        <div class="flex items-center justify-center lg:col-span-1 col-span-full">
          <div><img src="./images/logo-sm.png" alt="" class="h-10 md:h-8 lg:h-10" /></div>
        </div>
      </div>
      <!-- *******************************7 -->

      <div
        class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-[#FF5E0E] rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
      >
        <div
          class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
        >
          <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 7</h1>

            <p class="text-gray-500 dark:text-gray-300">Store USB passwords in Keyback Vault.</p>
          </div>
        </div>

        <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
          <span
            class="mb-5 text-xl tracking-wider uppercase dark:text-blue-400 text-blue-400 font-bold dark:font-normal md:mx-10"
            >Store passwords<span
              class="bg-green-100 dark:bg-transparent text-green-700 text-sm font-medium px-2.5 relative left-1 -top-0.5 py-0.5 rounded dark:bg-gray-100 dark:text-green-400 border border-green-600"
              >EASY</span
            ></span
          >
          <span class="text-2xl font-bold md:text-3xl md:mx-10">Use Keyback Vault</span>
          <span class="mt-4 dark:text-gray-300 md:mx-10"
            >Inside the Keyback Vault, you will store your USB password and 1 password.</span
          >
        </div>

        <div class="flex items-center justify-center lg:col-span-1 col-span-full">
          <div><img src="./images/logo-sm.png" alt="" class="h-10 md:h-8 lg:h-10" /></div>
        </div>
      </div>
      <!-- *******************************8 -->
      <div
        class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-[#FF5E0E] rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
      >
        <div
          class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
        >
          <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 8</h1>

            <p class="text-gray-500 dark:text-gray-300">Choose health status check frequency from 7 to 28 days.</p>
          </div>
        </div>

        <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
          <span
            class="mb-5 text-xl tracking-wider uppercase dark:text-blue-400 text-blue-400 font-bold dark:font-normal md:mx-10"
            >Configure Health Status<span
              class="bg-green-100 dark:bg-transparent text-green-700 text-sm font-medium px-2.5 relative left-1 -top-0.5 py-0.5 rounded dark:bg-gray-100 dark:text-green-400 border border-green-600"
              >EASY</span
            ></span
          >
          <span class="text-2xl font-bold md:text-3xl md:mx-10">Set Status Frequency</span>
          <span class="mt-4 dark:text-gray-300 md:mx-10"
            >You will select how often you want to verify you are in good health, from 7 days to 28 days in frequency.
            You will receive emails to verify you are alive and well, and confirm your status by clicking a button.</span
          >
        </div>
        <div class="flex items-center justify-center lg:col-span-1 col-span-full">
          <div><img src="./images/logo-sm.png" alt="" class="h-10 md:h-8 lg:h-10" /></div>
        </div>
      </div>
      <!-- *******************************9 -->

      <div
        class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-[#FF5E0E] rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
      >
        <div
          class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
        >
          <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 9</h1>

            <p class="text-gray-500 dark:text-gray-300">
              Choose and invite your heirs via email. Once they create an account with their details, they are activated
              in the system.
            </p>
          </div>
        </div>

        <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
          <span
            class="mb-5 text-xl tracking-wider uppercase dark:text-blue-400 text-blue-400 font-bold dark:font-normal md:mx-10"
            >Beneficiaries<span
              class="bg-green-100 dark:bg-transparent text-green-700 text-sm font-medium px-2.5 relative left-1 -top-0.5 py-0.5 rounded dark:bg-gray-100 dark:text-green-400 border border-green-600"
              >EASY</span
            ></span
          >
          <span class="text-2xl font-bold md:text-3xl md:mx-10">Choose Beneficiaries</span>
          <span class="mt-4 dark:text-gray-300 md:mx-10">
            You will invite the people you wish to receive your crypto when you pass on to join your Keyback account.
            These people are your heirs. Once they accept and complete their account creation, they are active in the
            system.(FREE)</span
          >
        </div>

        <div class="flex items-center justify-center lg:col-span-1 col-span-full">
          <div><img src="./images/logo-sm.png" alt="" class="h-10 md:h-8 lg:h-10" /></div>
        </div>
      </div>
      <!-- *******************************10 -->
      <div
        class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-[#FF5E0E] rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
      >
        <div
          class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
        >
          <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 10</h1>

            <p class="text-gray-500 dark:text-gray-300">
              Trustees will confirm your health status, activating the process if necessary.
            </p>
          </div>
        </div>

        <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
          <span
            class="mb-5 text-xl tracking-wider uppercase dark:text-blue-400 text-blue-400 font-bold dark:font-normal md:mx-10"
            >Trustee <span
              class="bg-green-100 dark:bg-transparent text-green-700 text-sm font-medium px-2.5 relative left-1 -top-0.5 py-0.5 rounded dark:bg-gray-100 dark:text-green-400 border border-green-600"
              >EASY</span
            ></span
          >
          <span class="text-2xl font-bold md:text-3xl md:mx-10">Choose Your Trustee</span>
          <span class="mt-4 dark:text-gray-300 md:mx-10"
            >You will choose one or more Trustees who will help confirm your health status if you do not respond to the
            Dead Man’s Switch ‘proof of life’ checks.(FREE)</span
          >
        </div>
        <div class="flex items-center justify-center lg:col-span-1 col-span-full">
          <div><img src="./images/logo-sm.png" alt="" class="h-10 md:h-8 lg:h-10" /></div>
        </div>
      </div>
      <!-- *******************************11 -->

      <div
        class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-[#FF5E0E] rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
      >
        <div
          class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
        >
          <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 11</h1>

            <p class="text-gray-500 dark:text-gray-300">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos
            </p>
          </div>
        </div>

        <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
          <span
            class="mb-5 text-xl tracking-wider uppercase dark:text-blue-400 text-blue-400 font-bold dark:font-normal md:mx-10"
            >Go Time <span
              class="bg-green-100 dark:bg-transparent text-green-700 text-sm font-medium px-2.5 relative left-1 -top-0.5 py-0.5 rounded dark:bg-gray-100 dark:text-green-400 border border-green-600"
              >AUTOMATED</span
            ></span
          >
          <span class="text-2xl font-bold md:text-3xl md:mx-10">You Crypto Is Protected</span>
          <span class="mt-4 dark:text-gray-300 md:mx-10"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facilis, voluptates error alias dolorem
            praesentium sit soluta iure incidunt labore explicabo eaque, quia architecto veritatis dolores, enim cons
            equatur nihil ipsum.</span
          >
        </div>

        <div class="flex items-center justify-center lg:col-span-1 col-span-full">
          <div><img src="./images/logo-sm.png" alt="" class="h-10 md:h-8 lg:h-10" /></div>
        </div>
      </div>
      <!-- *******************************12 -->
      <div
        class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-[#FF5E0E] rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
      >
        <div
          class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
        >
          <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 12</h1>

            <p class="text-gray-500 dark:text-gray-300">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos
            </p>
          </div>
        </div>

        <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
          <span
            class="mb-5 text-xl tracking-wider uppercase dark:text-blue-400 text-blue-400 font-bold dark:font-normal md:mx-10"
            >Claiming<br class="hidden-break" style="display:none;" /><span
              class="bg-green-100 dark:bg-transparent text-green-700 text-sm font-medium px-2.5 relative left-1 -top-0.5 py-0.5 rounded dark:bg-gray-100 dark:text-green-400 border border-green-600"
              >VIDEO WALKTHROUGH
            </span></span
          >
          <span class="mt-2 text-2xl font-bold md:text-3xl md:mx-10">Heirs Access The Vault</span>
          <span class="mt-4 dark:text-gray-300 md:mx-10"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facilis, voluptates error alias dolorem
            praesentium sit soluta iure incidunt labore explicabo eaque, quia architecto veritatis dolores, enim cons
            equatur nihil ipsum.</span
          >
        </div>
        <div class="flex items-center justify-center lg:col-span-1 col-span-full">
          <div><img src="./images/logo-sm.png" alt="" class="h-10 md:h-8 lg:h-10" /></div>
        </div>
      </div>
      <!-- *******************************13 -->

      <div
        class="mt-20 mb-10 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-[#FF5E0E] rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
      >
        <div
          class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
        >
          <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 13</h1>

            <p class="text-gray-500 dark:text-gray-300">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos
            </p>
          </div>
        </div>

        <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
          <span
            class="mb-5 text-xl tracking-wider uppercase dark:text-blue-400 text-blue-400 font-bold dark:font-normal md:mx-10"
            >Recovery <span
              class="bg-green-100 dark:bg-transparent text-green-700 text-sm font-medium px-2.5 relative left-1 -top-0.5 py-0.5 rounded dark:bg-gray-100 dark:text-green-400 border border-green-600"
              >EASY</span
            ></span
          >
          <span class="text-2xl font-bold md:text-3xl md:mx-10">Restoring Crypto Wallets</span>
          <span class="mt-4 dark:text-gray-300 md:mx-10"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facilis, voluptates error alias dolorem
            praesentium sit soluta iure incidunt labore explicabo eaque, quia architecto veritatis dolores, enim cons
            equatur nihil ipsum.</span
          >
        </div>

        <div class="flex items-center justify-center lg:col-span-1 col-span-full">
          <div><img src="./images/logo-sm.png" alt="" class="h-10 md:h-8 lg:h-10" /></div>
        </div>
      </div>
      <div style="z-index:900; max-width:300px; margin:30px auto 0 auto;" class="flex sm:w-auto">
        <a
          style="z-index:900"
          class="btn w-full bg-gray-300/30 text-gray-500 hover:text-gray-200 hover:bg-gray-900 dark:text-white"
          href="#top">Back To Top</a
        >
      </div>
    </div>
  </section>
</section>
