---
import { Icon } from 'astro-icon';

interface CallToAction {
  text: string;
  href: string;
  icon?: string;
}

export interface Props {
  title?: string;
  description?: string;
  callToAction?: string | CallToAction;
}

const { callToAction = await Astro.slots.render('callToAction') } = Astro.props;
---

<anchor id="how-it-works-section" class="scroll-mt-10" style="margin-bottom:20px; display:block"></anchor>
<section
  class="bg-gray-50 dark:bg-gray-800 py-10 relative z-10 scroll-mt-16 hiw-bgnd -left-1.5 px-2 dark:border-y-1 dark:border-x-0 dark:border-slate-500 border mt-10"
  style="min-width:100%;"
>
  <section class="dark:text-gray-100 hiw-bgnd px-2" style="max-width: 1280px; margin:auto;">
    <div class="container mx-auto flex flex-col">
      <h2
        class="pt-10 text-4xl min-[1400px]:text-[90px] max-[1535px]:text-6xl min-[1536px]:text-6xl font-bold leading-tighter tracking-tighter dark:mb-8 font-heading dark:text-gray-200 text-gray-600 text-center mb-8"
      >
        How It Works
      </h2>
      <!-- <span id="in-detail" class="mx-auto relative -top-5">(in detail)</span> -->
      <button
        class="btn btn-secondary bg-white/20 sm:w-auto lg:w-[140px] border-3 tracking-tight mx-auto py-3 mb-8 md:w-1/4"
        id="show-how-it-works"
        target="_self"
        rel="noopener"
      >
        {callToAction.icon && <Icon name={callToAction.icon} class="w-3 h-5 mr-1 " />}
        {callToAction.text}
      </button>
      <p class="text-center text-xl pb-10" id="explainer">
        Want details?<br />Click 'show' button to see how KEYBACK works
      </p>
      <div id="hiw-steps" class="hidden">
        <div class="absolute z-0 left-1/2 -ml-2 w-1 h-[89%] dark:bg-[#FF5E0E] bg-gray-400" style="top:260px;"></div>

        <div
          class="hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-[#FF5E0E] rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
        >
          <div
            class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
          >
            <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
              <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 1</h1>

              <p class="text-gray-500 dark:text-gray-300 md:text-lg md:pb-2">
                Compile a list of everything you want to back up and pass on to your heirs
              </p>
            </div>
          </div>

          <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
            <span
              class="mb-5 text-xl tracking-wider uppercase dark:text-burntorange text-burntorange font-bold dark:font-normal md:mx-10"
              >Preparation <span
                class="bg-green-100 dark:bg-green-900 text-green-600 text-sm font-medium px-1 relative left-1 -top-0.5 rounded dark:text-green-400 border border-green-600"
                >EASY</span
              >
            </span>
            <span class="text-2xl font-bold md:text-3xl md:mx-10">Do An Inventory</span>
            <span class="mt-4 dark:text-gray-300 md:mx-10">
              Make an inventory of all your digital assets, (cryptocurrency and tokens) and login info you use for any
              online wallets and exchanges, software wallets and hardware wallets.
            </span>
          </div>

          <div class="flex items-center justify-center lg:col-span-1 col-span-full">
            <span>
              <div><img src="./images/logo-sm.png" alt="" class="h-10 md:h-8 lg:h-10" /></div>
            </span>
          </div>
        </div>
        <!-- *******************************2 -->
        <div
          class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-[#FF5E0E] rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
        >
          <div
            class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
          >
            <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
              <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 2</h1>

              <p class="text-gray-500 dark:text-gray-300 md:text-lg md:pb-2">
                Create your Master File. Store file on USB stick unencrypted
              </p>
            </div>
          </div>

          <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
            <span
              class="mb-5 text-xl tracking-wider uppercase dark:text-burntorange text-burntorange font-bold dark:font-normal md:mx-10"
              >Master File <span
                class="bg-green-100 dark:bg-green-900 text-green-600 text-sm font-medium px-1 relative left-1 -top-0.5 rounded dark:text-green-400 border border-green-600"
                >EASY</span
              ></span
            >
            <span class="text-2xl font-bold md:text-3xl md:mx-10">Create Your Document</span>
            <span class="mt-4 dark:text-gray-300 md:mx-10">
              Create either a spreadsheet (.csv) or a plain text file (.txt) of private keys, backup seed phrases and
              login information from the previous step.</span
            >
          </div>
          <div class="flex items-center justify-center lg:col-span-1 col-span-full">
            <div><img src="./images/logo-sm.png" alt="" class="h-10 md:h-8 lg:h-10" /></div>
          </div>
        </div>
        <!-- *******************************3 -->

        <div
          class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-[#FF5E0E] rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
        >
          <div
            class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
          >
            <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
              <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 3</h1>

              <p class="text-gray-500 dark:text-gray-300 md:text-lg md:pb-2">
                Use the Keyback Encryptor to process your Master File
              </p>
            </div>
          </div>

          <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
            <span
              class="mb-5 text-xl tracking-wider uppercase dark:text-burntorange text-burntorange font-bold dark:font-normal md:mx-10"
              >MULTI-ENCRYPT IT <span
                class="bg-green-100 dark:bg-green-900 text-green-600 text-sm font-medium px-1 relative left-1 -top-0.5 rounded dark:text-green-400 border border-green-600"
                >EASY</span
              ></span
            >
            <span class="text-2xl font-bold md:text-3xl md:mx-10">Make It Fort Knox</span>
            <span class="mt-4 dark:text-gray-300 md:mx-10"
              >You will generate 4 keys (and optional 5th MasterKey) of 25 complex characters and create 3 x AES-256 bit
              encrypted files from your original Master File.</span
            >
          </div>

          <div class="flex items-center justify-center lg:col-span-1 col-span-full">
            <div><img src="./images/logo-sm.png" alt="" class="h-10 md:h-8 lg:h-10" /></div>
          </div>
        </div>
        <!-- *******************************4 -->
        <div
          class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-[#FF5E0E] rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
        >
          <div
            class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
          >
            <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
              <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 4</h1>

              <p class="text-gray-500 dark:text-gray-300 md:text-lg md:pb-2">
                Create free cloud storage accounts and upload files, saving the access links
              </p>
            </div>
          </div>

          <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
            <span
              class="mb-5 text-xl tracking-wider uppercase dark:text-burntorange text-burntorange font-bold dark:font-normal md:mx-10"
              >Store It <br class="hidden-break" style="display:none;" /><span
                class="bg-green-100 dark:bg-green-900 text-green-600 text-sm font-medium px-1 relative left-1 -top-0.5 rounded dark:text-green-400 border border-green-600"
                >VIDEO WALKTHROUGH
              </span></span
            >
            <span class="text-2xl font-bold md:text-3xl md:mx-10">Cloud Storage</span>
            <span class="mt-4 dark:text-gray-300 md:mx-10"
              >To create a redundant backup you will use 6 x free cloud storage locations to host your 3 x encrypted
              files. Links will be saved to 2 x USB sticks.</span
            >
          </div>
          <div class="flex items-center justify-center lg:col-span-1 col-span-full">
            <div><img src="./images/logo-sm.png" alt="" class="h-10 md:h-8 lg:h-10" /></div>
          </div>
        </div>
        <!-- *******************************5 -->

        <div
          class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-[#FF5E0E] rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
        >
          <div
            class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
          >
            <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
              <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 5</h1>

              <p class="text-gray-500 dark:text-gray-300 md:text-lg md:pb-2">
                Keys are stored in text files on 2 x encrypted USB sticks
              </p>
            </div>
          </div>

          <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
            <span
              class="mb-5 text-xl tracking-wider uppercase dark:text-burntorange text-burntorange font-bold dark:font-normal md:mx-10"
              >Key Storage <br class="hidden-break" style="display:none;" /><span
                class="bg-green-100 dark:bg-green-900 text-green-600 text-sm font-medium px-1 relative left-1 -top-0.5 rounded dark:text-green-400 border border-green-600"
                >VIDEO WALKTHROUGH
              </span></span
            >
            <span class="text-2xl font-bold md:text-3xl md:mx-10">Hardware Key Storage</span>
            <span class="mt-4 dark:text-gray-300 md:mx-10"
              >Store 3 x encryption keys across 2 different password protected USB sticks.</span
            >
          </div>

          <div class="flex items-center justify-center lg:col-span-1 col-span-full">
            <div><img src="./images/logo-sm.png" alt="" class="h-10 md:h-8 lg:h-10" /></div>
          </div>
        </div>
        <!-- *******************************6 -->
        <div
          class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-[#FF5E0E] rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
        >
          <div
            class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
          >
            <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
              <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 6</h1>

              <p class="text-gray-500 dark:text-gray-300 md:text-lg md:pb-2">
                Store the final encryption key and USB password to your Keyback vault
              </p>
            </div>
          </div>

          <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
            <span
              class="mb-5 text-xl tracking-wider uppercase dark:text-burntorange text-burntorange font-bold dark:font-normal md:mx-10"
              >Vault It <span
                class="bg-green-100 dark:bg-green-900 text-green-600 text-sm font-medium px-1 relative left-1 -top-0.5 rounded dark:text-green-400 border border-green-600"
                >EASY</span
              ></span
            >
            <span class="text-2xl font-bold md:text-3xl md:mx-10">Put It In The Vault</span>
            <span class="mt-4 dark:text-gray-300 md:mx-10"
              >Our rock solid vault which is attached to your Dead Man Switch will contain 2 x pieces of the puzzle
              needed to decrypt your Master File. 1 x encryption key and USB password.</span
            >
          </div>
          <div class="flex items-center justify-center lg:col-span-1 col-span-full">
            <div><img src="./images/logo-sm.png" alt="" class="h-10 md:h-8 lg:h-10" /></div>
          </div>
        </div>
        <!-- *******************************7 -->

        <div
          class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-[#FF5E0E] rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
        >
          <div
            class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
          >
            <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
              <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 7</h1>

              <p class="text-gray-500 dark:text-gray-300 md:text-lg md:pb-2">Set up your Dead Mans Switch</p>
            </div>
          </div>

          <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
            <span
              class="mb-5 text-xl tracking-wider uppercase dark:text-burntorange text-burntorange font-bold dark:font-normal md:mx-10"
              >Configure DMS <span
                class="bg-green-100 dark:bg-green-900 text-green-600 text-sm font-medium px-1 relative left-1 -top-0.5 rounded dark:text-green-400 border border-green-600"
                >EASY</span
              ></span
            >
            <span class="text-2xl font-bold md:text-3xl md:mx-10">Set Your Notifications</span>
            <span class="mt-4 dark:text-gray-300 md:mx-10"
              >You will select how often you want to verify you are in good health, from 7 days to 28 days in frequency.
              You will receive emails to verify you are alive and well, and confirm your status by clicking a button.</span
            >
          </div>

          <div class="flex items-center justify-center lg:col-span-1 col-span-full">
            <div><img src="./images/logo-sm.png" alt="" class="h-10 md:h-8 lg:h-10" /></div>
          </div>
        </div>
        <!-- *******************************8 -->
        <div
          class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-[#FF5E0E] rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
        >
          <div
            class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
          >
            <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
              <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 8</h1>

              <p class="text-gray-500 dark:text-gray-300 md:text-lg md:pb-2">Choose and invite your Heirs</p>
            </div>
          </div>

          <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
            <span
              class="mb-5 text-xl tracking-wider uppercase dark:text-burntorange text-burntorange font-bold dark:font-normal md:mx-10"
              >Beneficiaries <span
                class="bg-green-100 dark:bg-green-900 text-green-600 text-sm font-medium px-1 relative left-1 -top-0.5 rounded dark:text-green-400 border border-green-600"
                >EASY</span
              ></span
            >
            <span class="text-2xl font-bold md:text-3xl md:mx-10">Choose Beneficiaries</span>
            <span class="mt-4 dark:text-gray-300 md:mx-10">
              You will invite the people you wish to receive your crypto when you pass on to join your Keyback account.
              These people are your heirs. Once they accept and complete their account creation, they are active in the
              system. (FREE)</span
            >
          </div>

          <div class="flex items-center justify-center lg:col-span-1 col-span-full">
            <div><img src="./images/logo-sm.png" alt="" class="h-10 md:h-8 lg:h-10" /></div>
          </div>
        </div>
        <!-- *******************************9 -->
        <div
          class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-[#FF5E0E] rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
        >
          <div
            class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
          >
            <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
              <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 9</h1>

              <p class="text-gray-500 dark:text-gray-300 md:text-lg md:pb-2">Choose and invite your Trustees</p>
            </div>
          </div>

          <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
            <span
              class="mb-5 text-xl tracking-wider uppercase dark:text-burntorange text-burntorange font-bold dark:font-normal md:mx-10"
              >Trustees <span
                class="bg-green-100 dark:bg-green-900 text-green-600 text-sm font-medium px-1 relative left-1 -top-0.5 rounded dark:text-green-400 border border-green-600"
                >EASY</span
              ></span
            >
            <span class="text-2xl font-bold md:text-3xl md:mx-10">Choose Trustees</span>
            <span class="mt-4 dark:text-gray-300 md:mx-10"
              >You will choose one or more Trustees who will help confirm your health status if you do not respond to
              the Dead Mans Switch 'Proof Of Life' checks. Once they accept and complete their account creation, they
              are active in the system. (FREE)</span
            >
          </div>
          <div class="flex items-center justify-center lg:col-span-1 col-span-full">
            <div><img src="./images/logo-sm.png" alt="" class="h-10 md:h-8 lg:h-10" /></div>
          </div>
        </div>
        <!-- *******************************10 -->
        <div
          class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-[#FF5E0E] rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
        >
          <div
            class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
          >
            <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
              <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 10</h1>

              <p class="text-gray-500 dark:text-gray-300 md:text-lg md:pb-2">
                Health checks will confirm your 'good health' status at the timer frequency you set
              </p>
            </div>
          </div>

          <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
            <span
              class="mb-5 text-xl tracking-wider uppercase dark:text-burntorange text-burntorange font-bold dark:font-normal md:mx-10"
              >Dead Mans Switch <span
                class="bg-green-100 dark:bg-green-900 text-green-600 text-sm font-medium px-1 relative left-1 -top-0.5 rounded dark:text-green-400 border border-green-600"
                >AUTOMATED</span
              ></span
            >
            <span class="text-2xl font-bold md:text-3xl md:mx-10">Health Checks & Trustees</span>
            <span class="mt-4 dark:text-gray-300 md:mx-10">
              A series of 'good health' checks and timers will give you over 3 months to verify you are alive. If the
              Trustee(s) confirm death, or the timer expires per your settings, the vault will automatically be opened
              to your heir(s). Only they will be granted access to your vault, which contains your USB password and 1 x
              Key.</span
            >
          </div>

          <div class="flex items-center justify-center lg:col-span-1 col-span-full">
            <div><img src="./images/logo-sm.png" alt="" class="h-10 md:h-8 lg:h-10" /></div>
          </div>
        </div>
        <!-- *******************************11 A-->
        <div
          class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-[#FF5E0E] rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
        >
          <div
            class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
          >
            <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
              <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 11 A</h1>

              <p class="text-gray-500 dark:text-gray-300 md:text-lg md:pb-2">
                You passed away or did not check in for more than 3 months
              </p>
            </div>
          </div>

          <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
            <span
              class="mb-5 text-xl tracking-wider uppercase dark:text-burntorange text-burntorange font-bold dark:font-normal md:mx-10"
              >Claiming <br class="hidden-break" style="display:none;" /><span
                class="bg-green-100 dark:bg-green-900 text-green-600 text-sm font-medium px-1 relative left-1 -top-0.5 rounded dark:text-green-400 border border-green-600"
                >VIDEO WALKTHROUGH
              </span></span
            >
            <span class="mt-2 text-2xl font-bold md:text-3xl md:mx-10">Heirs Access The Vault</span>
            <span class="mt-4 dark:text-gray-300 md:mx-10"
              >Your Heirs/Beneficiaries can log into Keyback and access your unlocked vault contents. The USB password
              they use to access their USB sticks stored in safe locations. The keys and the downloaded files will now
              decrypt your Master File. (If you used an optional MasterKey, your MasterFile will not be decrypted -
              there is one more step to go.)
            </span>
          </div>
          <div class="flex items-center justify-center lg:col-span-1 col-span-full">
            <div><img src="./images/logo-sm.png" alt="" class="h-10 md:h-8 lg:h-10" /></div>
          </div>
        </div>
        <!-- *******************************11 B-->
        <div
          class="mt-20 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-[#FF5E0E] rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
        >
          <div
            class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
          >
            <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
              <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">
                STEP 11 B (OPTIONAL)
              </h1>

              <p class="text-gray-500 dark:text-gray-300 md:text-lg md:pb-2">Your Will & Testament is made public</p>
            </div>
          </div>

          <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
            <span
              class="mb-5 text-xl tracking-wider uppercase dark:text-burntorange text-burntorange font-bold dark:font-normal md:mx-10"
              >LIVING WILL <br class="hidden-break" style="display:none;" /><span
                class="bg-green-100 dark:bg-green-900 text-green-600 text-sm font-medium px-1 relative left-1 -top-0.5 rounded dark:text-green-400 border border-green-600"
                >EASY
              </span></span
            >
            <span class="mt-2 text-2xl font-bold md:text-3xl md:mx-10">MasterKey Revealed</span>
            <span class="mt-4 dark:text-gray-300 md:mx-10"
              >If you chose to encrypt your Master File with a MasterKey and included it in your Last Will & Testament,
              this password will be revealed following the normal legal estate distribution procedures. The MasterKey
              will be made available to Beneficiaries.
            </span>
          </div>
          <div class="flex items-center justify-center lg:col-span-1 col-span-full">
            <div><img src="./images/logo-sm.png" alt="" class="h-10 md:h-8 lg:h-10" /></div>
          </div>
        </div>
        <!-- *******************************12 -->
        <div
          class="mt-20 mb-10 hiw-box dark:shadow-lg relative z-10 grid justify-center grid-cols-4 p-8 mx-auto space-y-8 lg:space-y-0 dark:border-4 border-2 border-gray-200 dark:border-[#FF5E0E] rounded-xl dark:bg-gradient-to-b dark:from-gray-700 dark:via-gray-900 dark:to-black bg-gray-100"
        >
          <div
            class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-1 lg:text-left dark:border-0 border-2 border-gray-200 dark:border-gray-300 rounded-xl lg:mx-2 bg-white dark:bg-gray-900"
          >
            <div class="flex flex-col items-center p-4 space-y-3 text-center rounded-xl">
              <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white font-mono">STEP 12</h1>

              <p class="text-gray-500 dark:text-gray-300 md:text-lg md:pb-2">
                Heirs restore crypto wallets and access digital assets passed on by you, the Benefactor
              </p>
            </div>
          </div>

          <div class="flex flex-col justify-center max-w-3xl text-center col-span-full lg:col-span-2 lg:text-left">
            <span
              class="mb-5 text-xl tracking-wider uppercase dark:text-burntorange text-burntorange font-bold dark:font-normal md:mx-10"
              >Crypto Recovery <span
                class="bg-green-100 dark:bg-green-900 text-green-600 text-sm font-medium px-1 relative left-1 -top-0.5 rounded dark:text-green-400 border border-green-600"
                >VIDEO WALKTHROUGH</span
              ></span
            >
            <span class="text-2xl font-bold md:text-3xl md:mx-10">Restoring Crypto Wallets</span>
            <span class="mt-4 dark:text-gray-300 md:mx-10"
              >Software and Hardware wallets can now be recovered. Using the Keyback Decryptor (offline) with the 3 x
              files, 4 x keys and the optional MasterKey, the original Master File is now revealed. The contents of this
              file can now be used to restore hardware wallets, software wallets, log into exchanges and access any
              number of accounts or digital assets the Benefactor (you) passed on. The family is secure and your crypto
              wealth has been passed on.</span
            >
          </div>

          <div class="flex items-center justify-center lg:col-span-1 col-span-full">
            <div><img src="./images/logo-sm.png" alt="" class="h-10 md:h-8 lg:h-10" /></div>
          </div>
        </div>

        <div class="flex items-center justify-center lg:col-span-1 col-span-full">
          <p class="px-10 text-center">
            NOTE: All steps are clearly described, documented, and feature video screen captures.
          </p>
        </div>

        <div style="z-index:900; max-width:300px; margin:30px auto 0 auto;" class="flex sm:w-auto">
          <a
            style="z-index:900"
            class="btn w-full bg-gray-300/30 text-gray-500 hover:text-gray-200 hover:bg-gray-900 dark:text-white"
            href="#top">Back To Top</a
          >
        </div>
      </div>
      <!-- this is the end tag for the hiw-steps for show hide -->
    </div>
  </section>
</section>
