<section class="text-gray-600 dark:text-gray-200 dark:bg-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="text-center mb-20">
      <h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading text-center">
        CRYPTO DISASTERS
      </h2>
      <p class="text-lg leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-600 dark:text-gray-200 text-opacity-80">
        It's so easy to lose access to your digital assets. These are just a few real world examples of how it can
        happen. Whether you're a big banking family, tech mogul or entrepreneur.
      </p>
      <div class="flex mt-6 justify-center">
        <div class="w-16 h-1 rounded-full bg-yellow-500 inline-flex"></div>
      </div>
    </div>
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
      <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
        <div
          class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-gray-800 text-yellow-400 mb-5 flex-shrink-0"
        >
          <!-- <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-10 h-10"
            viewBox="0 0 24 24"
          >
            <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
          </svg> -->
          <img
            src="./images/elon-musk.png"
            class="rounded"
            style="height:100%;object-fit:contain;width:100%;"
            alt="Elon Musk"
          />
        </div>
        <div class="flex-grow">
          <h2 class="dark:text-white text-gray-800 text-lg title-font font-medium mb-3">ELON MUSK</h2>
          <p class="leading-relaxed text-base px-10">
            In 2017 Musk noted that someone had sent him part of a bitcoin years ago, but he had no idea where it was
            anymore. While this is surely not a major concern for Elon, it proves the point it doesn't matter who you
            are. Without your keys, there's no crypto wealth.
          </p>
        </div>
      </div>
      <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
        <div
          class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-gray-800 text-yellow-400 mb-5 flex-shrink-0"
        >
          <!-- <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-10 h-10"
            viewBox="0 0 24 24"
          >
            <circle cx="6" cy="6" r="3"></circle>
            <circle cx="6" cy="18" r="3"></circle>
            <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
          </svg> -->
          <img
            class="rounded"
            src="./images/matthew-mellon.png"
            style="height:100%;object-fit:contain;width:100%;"
            alt="Matthew Mellon"
          />
        </div>
        <div class="flex-grow">
          <h2 class="dark:text-white text-gray-800 text-lg title-font font-medium mb-3">MATTHEW MELLON</h2>
          <p class="leading-relaxed text-base px-10">
            As an ambassador of Ripple Labs in 2015, he held $1B in XRP. After his death, his family were scrambling to
            find his fortune. Mellon said he kept the digital keys to his XRP locked in cold storage in other people's
            names at various locations around the U.S.
          </p>
        </div>
      </div>
      <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
        <div
          class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-gray-800 text-yellow-400 mb-5 flex-shrink-0"
        >
          <!-- <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-10 h-10"
            viewBox="0 0 24 24"
          >
            <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg> -->
          <img
            class="rounded"
            src="./images/gerald-cotten.png"
            style="height:100%;object-fit:contain;width:100%;"
            alt="Gerald Cotten"
          />
        </div>
        <div class="flex-grow">
          <h2 class="dark:text-white text-gray-800 text-lg title-font font-medium mb-3">GERALD COTTEN</h2>
          <p class="leading-relaxed text-base px-10">
            He passed away unexpectedly with millions of dollars in crypto tied to his business. He joked about storing
            crypto keys in a bank deposit box and in a safe in the rafters of the attic, but he was the only person with
            knowledge of keys when he passed on.
          </p>
        </div>
      </div>
    </div>
    <div class="text-center mt-20 mb-20">
      <!-- <h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading text-center">
        CRYPTO LOST FOREVER
      </h2> -->
      <p
        class="text-lg leading-relaxed xl:w-3/4 lg:w-3/4 px-10 mx-auto text-gray-600 dark:text-gray-200 text-opacity-80"
      >
        Always have a crypto backup and recovery plan. Make it decentralized and redundant. Make others aware of your
        plan and if possible make it automated. Or better still, join Keyback and enjoy total security and a failsafe
        Dead Mans Switch to protect your fortune.
      </p>
      <div class="flex mt-6 justify-center">
        <div class="w-16 h-1 rounded-full bg-yellow-500 inline-flex"></div>
      </div>
    </div>
  </div>
</section>
