<section class="scroll-mt-16 pb-20 dark:text-gray-300 dark:bg-gray-900 pr-3" id="">
  <div class="px-4 mx-auto max-w-3xl lg:px-8 pt-10">
    <div class="mb-0">
      <h2 class="py-10 text-3xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading text-center">
        Media Assets
      </h2>
      <h3
        class="pt-10 pb-10 text-4xl font-normal leading-tighter tracking-normal dark:mb-4 font-heading dark:text-gray-300 text-gray-800 text-left"
      >
        Videos for Download
      </h3>
      <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/850513183?h=0b8aafebda&badge=0&autopause=0&player_id=0&app_id=58479"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Keyback in 60 Seconds"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
    </div><br />
    <pre>This is a quick explainer video
Download this video from: <a href="https://vimeo.com/850513183" target="_blank"><u>https://vimeo.com/850513183</u></a></pre>
    <div class="mt-20 wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
      <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
        <iframe
          src="https://fast.wistia.net/embed/iframe/dnkbmuf8st?seo=false&videoFoam=true"
          title="keyback Explainer Video"
          allow="autoplay; fullscreen"
          allowtransparency="true"
          frameborder="0"
          scrolling="no"
          class="wistia_embed"
          name="wistia_embed"
          msallowfullscreen
          width="100%"
          height="100%"></iframe>
      </div>
    </div>
    <script src="https://fast.wistia.net/assets/external/E-v1.js" async></script>
    <br /><pre>For promotion. In part or in whole.
Download link in the share menu of this video</pre>
    <hr class="mt-20" />
    <div class="my-20">
      <h3
        class="pb-10 text-4xl font-normal leading-tighter tracking-normal dark:mb-4 font-heading dark:text-gray-300 text-gray-800 text-left"
      >
        Press Releases
      </h3>

      <p class="mt-5 text-xl">
        <a
          href="https://markets.businessinsider.com/news/stocks/keyback-io-launches-revolutionary-crypto-wallet-backup-recovery-system-with-built-in-deadman-switch-1032420520"
          target="_blank"
          rel="nofollow">Link: <u>Business Insider - Keyback Launch (June 30th 2023)</u></a
        ><br />
        <a
          href="https://news.bitcoin.com/keyback%E2%80%A4io-launches-revolutionary-crypto-wallet-backup-and-recovery-system-with-built-in-deadman-switch/"
          target="_blank"
          rel="nofollow">Link: <u>Bitcoin.com - Keyback Launch (June 30th 2023)</u></a
        ><br />
        <a
          href="https://cryptonews.com/news/keybackio-launches-revolutionary-crypto-wallet-backup-recovery-system-with-built-in-deadman-switch.htm"
          target="_blank"
          rel="nofollow">Link: <u>CryptoNews.com - Keyback Launch (June 30th 2023)</u></a
        >
      </p>
    </div>

    <div class="mt-20">
      <hr class="pt-20" />
      <h3
        class="pb-10 text-4xl font-normal leading-tighter tracking-normal dark:mb-4 font-heading dark:text-gray-300 text-gray-800 text-left"
      >
        Logos
      </h3>
      <p class="mt-5 text-xl">
        <a download href="./images/keyback-logo-vector.svg" target="_blank">
          <svg
            class="h-[15px] w-auto fill-[#ffffff] inline-block pr-1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            ><!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"
            ></path></svg
          >
          <u>Download SVG</u></a
        >

        <a download href="./images/keyback-logo-vector.svg" target="_blank">
          <svg
            class="my-10"
            version="1.1"
            id="svg2"
            width="100%"
            height="auto"
            viewBox="0 0 1066.6667 362.66666"
            sodipodi:docname="keyback-logo-vector.ai"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg"
          >
            <defs id="defs6">
              <clipPath clipPathUnits="userSpaceOnUse" id="clipPath16">
                <path d="M 0,272 H 800 V 0 H 0 Z" id="path14"></path>
              </clipPath>
            </defs>
            <sodipodi:namedview
              id="namedview4"
              pagecolor="#ffffff"
              bordercolor="#000000"
              borderopacity="0.25"
              inkscape:showpageshadow="2"
              inkscape:pageopacity="0.0"
              inkscape:pagecheckerboard="0"
              inkscape:deskcolor="#d1d1d1"></sodipodi:namedview>
            <g
              id="g8"
              inkscape:groupmode="layer"
              inkscape:label="keyback-logo-vector"
              transform="matrix(1.3333333,0,0,-1.3333333,0,362.66667)"
            >
              <g id="g10">
                <g id="g12" clip-path="url(#clipPath16)">
                  <g id="g18" transform="translate(152.7354,5.9668)">
                    <path
                      d="m 0,0 -1.27,-3.363 c -0.152,-0.405 -0.537,-0.67 -0.968,-0.659 -22.324,0.565 -64.371,7.903 -94.168,40.535 -0.261,0.286 -0.245,0.734 0.037,1 l 1.198,1.127 c 0.402,0.379 0.432,1.006 0.067,1.421 -16.005,18.187 -31.717,39.764 -35.633,84.433 -0.083,0.946 -0.87,1.682 -1.821,1.682 h -18.04 c -1.194,0 -2.169,0.947 -2.192,2.141 -0.445,23.331 3.425,70.241 43.977,107.603 0.695,0.642 1.774,0.661 2.496,0.051 1.259,-1.064 2.188,-1.898 2.844,-2.511 0.763,-0.71 1.93,-0.709 2.704,-0.011 11.029,9.94 26.3,20.699 43.262,28.221 0.811,0.36 1.762,-0.032 2.094,-0.855 1.28,-3.164 2.529,-6.274 3.234,-8.033 0.328,-0.817 1.246,-1.213 2.073,-0.91 13.142,4.816 25.52,7.384 43.853,8.784 0.764,0.058 1.459,0.492 1.836,1.16 l 0.691,1.224 c 0.347,0.612 0.998,0.994 1.702,0.988 37.616,-0.323 77.828,-16.709 103.309,-48.061 0.259,-0.319 0.646,-0.505 1.057,-0.505 h 123.695 c 0.421,0 0.826,-0.162 1.131,-0.453 l 13.034,-12.436 c 0.316,-0.301 0.735,-0.469 1.17,-0.47 l 173.906,-0.354 c 0.449,-0.001 0.878,-0.181 1.193,-0.501 l 17.38,-17.651 c 0.264,-0.269 0.627,-0.421 1.003,-0.421 h 156.145 c 0.439,0 0.856,-0.196 1.137,-0.534 l 6.652,-8.033 c 0.302,-0.365 0.751,-0.576 1.224,-0.576 h 31.109 c 0.456,0 0.892,-0.189 1.202,-0.523 l 14.472,-15.544 c 0.302,-0.324 0.47,-0.751 0.47,-1.194 V 90.586 c 0,-0.528 -0.247,-1.026 -0.668,-1.345 L 631.712,77.944 c -0.29,-0.22 -0.645,-0.34 -1.009,-0.34 h -9.118 c -0.716,0 -1.364,-0.421 -1.654,-1.076 L 609.088,52.065 c -0.24,-0.541 -0.776,-0.889 -1.368,-0.889 H 142.766 c -0.493,0 -0.954,0.242 -1.234,0.647 l -17.107,24.77 c -0.589,0.852 -1.872,0.775 -2.347,-0.147 -6.177,-11.96 -17.518,-32.688 -30.405,-43.31 -0.477,-0.394 -1.174,-0.362 -1.629,0.058 l -2.38,2.205 C 87.292,35.743 86.717,35.702 86.392,35.313 74.311,20.872 38.673,-0.157 1.288,0.859 0.718,0.875 0.201,0.533 0,0"
                      style="fill:#fbfbfb;fill-opacity:1;fill-rule:nonzero;stroke:none"
                      id="path20"></path>
                  </g>
                  <g id="g22" transform="translate(781.9404,174.9644)">
                    <path
                      d="m 0,0 h -31.666 c -0.47,0 -0.917,0.201 -1.228,0.553 l -7.205,8.153 c -0.285,0.323 -0.695,0.508 -1.127,0.508 h -155.136 c -0.531,0 -1.038,0.212 -1.412,0.587 l -17.582,17.684 c -0.306,0.307 -0.721,0.479 -1.154,0.479 h -173.409 c -0.426,0 -0.836,0.165 -1.143,0.46 l -12.878,12.38 c -0.298,0.286 -0.696,0.446 -1.109,0.446 h -119.61 -4.165 c -0.39,0 -0.759,0.179 -1.004,0.482 -31.391,38.95 -78.016,49.181 -97.276,48.247 -0.831,-0.041 -1.584,-0.482 -2.025,-1.187 -0.354,-0.568 -0.714,-1.143 -0.714,-1.143 -0.502,-0.803 -1.2,-1.192 -1.952,-1.21 -22.364,-0.533 -37.261,-4.515 -50.228,-9.546 -0.727,-0.282 -1.542,0.041 -1.877,0.745 -0.663,1.396 -1.825,3.909 -3.239,7.251 -0.369,0.873 -1.371,1.314 -2.254,0.967 -19.804,-7.792 -35.535,-23.156 -40.119,-27.937 -0.77,-0.804 -2.034,-0.848 -2.864,-0.105 l -3.68,3.297 c -0.65,0.582 -1.651,0.554 -2.259,-0.072 -24.296,-25.015 -39.268,-59.216 -39.268,-96.932 0,-0.741 0.016,-1.479 0.027,-2.217 21.83,0.128 23.11,0.021 23.116,-2.283 h 10.511 c 2.236,-35.796 10.435,-55.329 33.362,-79.54 l -3.659,-3.603 c 73.143,-66.428 146.857,-20.786 165.429,-0.428 l -9.143,9.571 c -58.929,-55 -122.786,-25 -147,0 l -3.488,-3.435 c -22.282,23.553 -30.288,42.611 -32.494,77.435 h 8.767 c 0,35.786 18.358,58.714 29.786,71.429 l -5.428,5.428 c 4.907,5.317 22.563,17.918 32.609,22.66 0.778,0.367 1.126,1.273 0.801,2.07 l -2.945,7.208 c -0.347,0.851 0.046,1.817 0.882,2.197 11.895,5.41 30.749,8.914 43.701,9.139 0.723,0.013 1.309,-0.577 1.309,-1.299 v -2.26 c 33.214,1.071 82.928,-19.5 103.928,-64.5 h -23.357 c -25.286,36.642 -60.214,44.571 -84.214,43.5 -53.572,-2.572 -77.357,-40.929 -85.5,-60.858 -19.5,-54.857 7.714,-91.499 29.786,-109.714 61.714,-45.857 125.571,-6.429 141,25.929 h 26.357 c -4.715,-10.714 -13.715,-22.714 -24,-34.5 l 4.285,-3.858 0.605,0.843 c 0.976,-0.801 2.128,-1.749 3.288,-2.712 0.405,-0.337 1,-0.319 1.372,0.054 10.335,10.327 22.274,29.119 26.857,41.203 0.354,0.933 1.247,1.541 2.245,1.541 h 5.271 c 0.807,0 1.559,-0.402 2.007,-1.073 l 16.436,-24.656 c 0.262,-0.392 0.703,-0.628 1.175,-0.628 h 459.207 c 0.589,0 1.126,0.34 1.377,0.875 l 11.695,24.902 c 0.197,0.42 0.618,0.687 1.082,0.687 H 0.076 c 0.405,0 0.799,0.139 1.115,0.393 l 12.542,10.073 c 0.365,0.292 0.577,0.735 0.577,1.201 v 60.475 c 0,0.527 -0.207,1.033 -0.578,1.409 L 1.195,-0.5 C 0.88,-0.18 0.449,0 0,0"
                      style="fill:#343434;fill-opacity:1;fill-rule:nonzero;stroke:none"
                      id="path24"></path>
                  </g>
                  <g id="g26" transform="translate(309.7144,111.2861)">
                    <path
                      d="M 0,0 -32.857,30 0,57.571 Z M 117.143,62.857 93.286,31.285 69.714,62.857 H -22.143 L -52.143,38 V 62.857 H -77.571 V -13 h 25.428 V 21.428 L -13.571,-13 H 60.143 L 64.286,1.285 H 24.143 v 18 H 55 V 33.857 H 24.286 V 48.143 H 53.429 L 80.857,12.856 V -13 h 25.429 v 27.571 l 38.428,48.286 z"
                      style="fill:#ff5e0e;fill-opacity:1;fill-rule:nonzero;stroke:none"
                      id="path28"></path>
                  </g>
                  <g id="g30" transform="translate(482.2959,112.5547)">
                    <path
                      d="m 0,0 c 4.374,0 7.655,0.853 9.843,2.559 2.186,1.706 3.281,3.829 3.281,6.372 0,2.976 -1.28,5.227 -3.84,6.753 -2.56,1.524 -5.888,2.287 -9.982,2.287 h -10.054 l 0,-17.971 z m 4.468,39.645 c 0,1.887 -0.746,3.502 -2.235,4.847 -1.49,1.342 -3.304,2.015 -5.445,2.015 h -7.54 V 32.674 h 7.121 c 2.235,0 4.141,0.689 5.725,2.07 1.582,1.378 2.374,3.012 2.374,4.901 m -34.069,-54.349 v 76.241 h 26.529 c 4.188,0 7.959,-0.528 11.309,-1.579 3.351,-1.054 6.19,-2.451 8.518,-4.193 2.325,-1.743 4.141,-3.741 5.445,-5.991 1.302,-2.252 1.954,-4.574 1.954,-6.971 0,-2.76 -0.558,-5.32 -1.675,-7.678 -1.117,-2.36 -3.026,-4.593 -5.724,-6.698 4.747,-1.816 8.678,-4.394 11.798,-7.734 3.117,-3.34 4.677,-7.261 4.677,-11.762 0,-3.486 -0.816,-6.682 -2.443,-9.585 -1.63,-2.905 -3.888,-5.391 -6.772,-7.46 -2.886,-2.071 -6.307,-3.687 -10.262,-4.848 -3.958,-1.162 -8.308,-1.742 -13.056,-1.742 z"
                      style="fill:#fefefe;fill-opacity:1;fill-rule:nonzero;stroke:none"
                      id="path32"></path>
                  </g>
                  <g id="g34" transform="translate(545.0742,123.4463)">
                    <path
                      d="M 0,0 H 25.272 L 12.706,21.238 Z m 12.706,52.824 48.869,-78.42 H 40.631 l -6.563,10.892 H -8.796 l -6.423,-10.892 h -20.943 z"
                      style="fill:#fefefe;fill-opacity:1;fill-rule:nonzero;stroke:none"
                      id="path36"></path>
                  </g>
                  <g id="g38" transform="translate(672.1084,104.8213)">
                    <path
                      d="m 0,0 c -4.377,-2.47 -8.775,-4.34 -13.195,-5.609 -4.422,-1.272 -9.564,-1.907 -15.428,-1.907 -6.981,0 -13.452,0.998 -19.408,2.995 -5.958,1.998 -11.124,4.739 -15.498,8.224 -4.377,3.485 -7.797,7.569 -10.263,12.253 -2.468,4.684 -3.7,9.748 -3.7,15.193 0,5.447 1.232,10.511 3.7,15.195 2.466,4.683 5.886,8.767 10.263,12.253 4.374,3.485 9.54,6.225 15.498,8.223 5.956,1.996 12.427,2.995 19.408,2.995 5.864,0 11.006,-0.636 15.428,-1.906 C -8.775,66.638 -4.377,64.768 0,62.3 L -11.589,48.576 c -2.607,1.597 -5.19,2.814 -7.75,3.649 -2.56,0.834 -5.654,1.253 -9.284,1.253 -3.91,0 -7.565,-0.564 -10.961,-1.688 -3.399,-1.127 -6.353,-2.707 -8.866,-4.738 -2.513,-2.034 -4.492,-4.411 -5.934,-7.135 -1.444,-2.722 -2.164,-5.646 -2.164,-8.768 0,-3.195 0.72,-6.136 2.164,-8.821 1.442,-2.687 3.421,-5.048 5.934,-7.08 2.513,-2.033 5.467,-3.613 8.866,-4.737 3.396,-1.127 7.051,-1.689 10.961,-1.689 3.442,0 6.492,0.417 9.144,1.252 2.654,0.834 5.283,2.051 7.89,3.65 z"
                      style="fill:#fefefe;fill-opacity:1;fill-rule:nonzero;stroke:none"
                      id="path40"></path>
                  </g>
                  <g id="g42" transform="translate(737.2568,174.0918)">
                    <path
                      d="M 0,0 -29.601,-32.675 6.283,-76.241 h -20.944 l -29.32,35.071 v -35.071 h -18.85 V 0 h 18.85 V -25.377 L -20.944,0 Z"
                      style="fill:#fefefe;fill-opacity:1;fill-rule:nonzero;stroke:none"
                      id="path44"></path>
                  </g>
                  <g id="g46" transform="translate(785.9297,155.1431)">
                    <path
                      d="m 0,0 h -30.573 c -1.846,0 -3.357,1.51 -3.357,3.356 V 3.5 c 0,1.847 1.511,3.357 3.357,3.357 H 0 c 1.846,0 3.356,-1.51 3.356,-3.357 V 3.356 C 3.356,1.51 1.846,0 0,0"
                      style="fill:#fefefe;fill-opacity:1;fill-rule:nonzero;stroke:none"
                      id="path48"></path>
                  </g>
                  <g id="g50" transform="translate(785.9297,138)">
                    <path
                      d="m 0,0 h -30.573 c -1.846,0 -3.357,1.51 -3.357,3.356 v 0.145 c 0,1.846 1.511,3.356 3.357,3.356 L 0,6.857 c 1.846,0 3.356,-1.51 3.356,-3.356 V 3.356 C 3.356,1.51 1.846,0 0,0"
                      style="fill:#fefefe;fill-opacity:1;fill-rule:nonzero;stroke:none"
                      id="path52"></path>
                  </g>
                  <g id="g54" transform="translate(785.9297,120.8574)">
                    <path
                      d="m 0,0 h -30.573 c -1.846,0 -3.357,1.51 -3.357,3.356 V 3.5 c 0,1.847 1.511,3.356 3.357,3.356 H 0 C 1.846,6.856 3.356,5.347 3.356,3.5 V 3.356 C 3.356,1.51 1.846,0 0,0"
                      style="fill:#fefefe;fill-opacity:1;fill-rule:nonzero;stroke:none"
                      id="path56"></path>
                  </g>
                  <g id="g58" transform="translate(785.9297,103.7139)">
                    <path
                      d="m 0,0 h -30.573 c -1.846,0 -3.357,1.511 -3.357,3.356 v 0.145 c 0,1.847 1.511,3.356 3.357,3.356 L 0,6.857 c 1.846,0 3.356,-1.509 3.356,-3.356 V 3.356 C 3.356,1.511 1.846,0 0,0"
                      style="fill:#fefefe;fill-opacity:1;fill-rule:nonzero;stroke:none"
                      id="path60"></path>
                  </g>
                  <g id="g62" transform="translate(224,60.5713)">
                    <path
                      d="m 0,0 c -58.929,-55 -122.786,-25 -147,0 l -3.488,-3.435 C -172.77,20.118 -180.776,39.176 -182.981,74 h -3.007 c 2.236,-35.796 10.434,-55.329 33.362,-79.54 l -3.66,-3.603 C -83.143,-75.571 -9.429,-29.929 9.143,-9.571 Z"
                      style="fill:#333333;fill-opacity:1;fill-rule:nonzero;stroke:none"
                      id="path64"></path>
                  </g>
                  <g id="g66" transform="translate(169.1431,99.2861)">
                    <path
                      d="m 0,0 c -3.25,0 -5.988,-2.173 -6.854,-5.144 h -52.789 c -11.855,0 -21.5,9.645 -21.5,21.5 v 3.537 h 18.08 l 8.204,-13.706 c 0.361,-0.604 1.013,-0.973 1.716,-0.973 h 23.865 c 1.024,-2.692 3.62,-4.608 6.671,-4.608 3.944,0 7.143,3.199 7.143,7.144 0,3.944 -3.199,7.143 -7.143,7.143 -3.443,0 -6.316,-2.437 -6.992,-5.679 h -22.41 L -58.4,19.893 h 75.157 c 1.024,-2.692 3.621,-4.608 6.671,-4.608 3.945,0 7.143,3.198 7.143,7.143 0,3.945 -3.198,7.143 -7.143,7.143 -3.443,0 -6.315,-2.436 -6.991,-5.678 h -97.58 v 5.857 h 29.393 c 0.701,0 1.35,0.366 1.712,0.967 l 6.595,10.926 h 21.268 c 0.995,-2.748 3.62,-4.715 6.711,-4.715 3.944,0 7.142,3.198 7.142,7.143 0,3.945 -3.198,7.143 -7.142,7.143 -3.405,0 -6.247,-2.383 -6.964,-5.571 h -22.144 c -0.7,0 -1.35,-0.367 -1.712,-0.967 L -52.879,33.75 h -28.264 v 10.143 h 10.289 c 0.866,-2.971 3.604,-5.143 6.854,-5.143 3.945,0 7.143,3.198 7.143,7.143 0,3.944 -3.198,7.142 -7.143,7.142 -3.25,0 -5.988,-2.172 -6.854,-5.142 h -10.289 v 7.892 c 0,0.253 0.029,0.499 0.038,0.75 H 3.426 C 4.469,53.881 7.047,52 10.071,52 c 3.945,0 7.143,3.198 7.143,7.143 0,3.944 -3.198,7.142 -7.143,7.142 -3.468,0 -6.357,-2.472 -7.005,-5.75 h -83.663 c 2.171,9.574 10.733,16.75 20.954,16.75 h 51.611 c 0.865,-2.97 3.603,-5.142 6.853,-5.142 3.945,0 7.143,3.197 7.143,7.142 0,3.945 -3.198,7.143 -7.143,7.143 -3.25,0 -5.988,-2.172 -6.854,-5.143 h -51.61 c -14.061,0 -25.5,-11.439 -25.5,-25.5 V 16.356 c 0,-14.06 11.439,-25.5 25.5,-25.5 h 52.789 c 0.866,-2.97 3.604,-5.142 6.854,-5.142 3.945,0 7.143,3.198 7.143,7.142 C 7.143,-3.198 3.945,0 0,0"
                      style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                      id="path68"></path>
                  </g>
                  <g id="g70" transform="translate(191.7144,180.5713)">
                    <path
                      d="m 0,0 h -9.429 c -1.104,0 -2,-0.896 -2,-2 0,-1.104 0.896,-2 2,-2 H 0 c 11.855,0 21.5,-9.645 21.5,-21.5 v -39.429 c 0,-11.855 -9.645,-21.5 -21.5,-21.5 h -8.571 c -1.105,0 -2,-0.895 -2,-2 0,-1.104 0.895,-2 2,-2 H 0 c 14.061,0 25.5,11.44 25.5,25.5 V -25.5 C 25.5,-11.439 14.061,0 0,0"
                      style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                      id="path72"></path>
                  </g>
                  <path
                    d="M 369.286,205 H 261.5 v 6.143 h 107.786 z"
                    style="fill:#7f7f7f;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    id="path74"></path>
                  <path
                    d="M 561.286,188 H 271.571 v 6.143 h 289.715 z"
                    style="fill:#7c7c7c;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    id="path76"></path>
                  <path
                    d="M 761.429,84.446 H 290 v 5.393 h 471.429 z"
                    style="fill:#7e7e7e;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    id="path78"></path>
                  <path
                    d="M 750.714,68.018 H 303.071 v 5.394 h 447.643 z"
                    style="fill:#7e7e7e;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    id="path80"></path>
                  <g id="g82" transform="translate(39.3374,80.166)">
                    <path
                      d="M 0,0 C -12.436,24.856 -11.837,46.303 -11.837,54.405"
                      style="fill:#343434;fill-opacity:1;fill-rule:nonzero;stroke:none"
                      id="path84"></path>
                  </g>
                  <g id="g86" transform="translate(152.4995,11.1475)">
                    <path
                      d="M 0,0 C -0.857,0.022 -1.71,0.034 -2.576,0.079 -1.721,0.043 -0.862,0.017 0,0"
                      style="fill:#7c7c7c;fill-opacity:1;fill-rule:nonzero;stroke:none"
                      id="path88"></path>
                  </g>
                  <g id="g90" transform="translate(258.5,85.5)">
                    <path
                      d="m 0,0 h -26.357 c -15.429,-32.357 -79.286,-71.786 -141,-25.929 -22.072,18.215 -49.286,54.858 -29.786,109.715 8.143,19.928 31.929,58.285 85.5,60.857 24,1.071 58.929,-6.857 84.214,-43.5 h 23.358 c -20.843,44.662 -69.969,65.261 -103.177,64.521 -0.416,-0.01 -0.752,0.32 -0.752,0.736 v 1.935 c 0,0.484 -0.389,0.88 -0.873,0.874 -12.976,-0.154 -32.147,-3.682 -44.173,-9.163 -0.816,-0.371 -1.201,-1.308 -0.862,-2.137 0.811,-1.987 2.257,-5.526 3.03,-7.418 0.287,-0.704 -0.02,-1.506 -0.708,-1.827 -10.018,-4.683 -27.837,-17.391 -32.771,-22.735 l 5.428,-5.429 c -11.428,-12.714 -29.785,-35.643 -29.785,-71.429 h -8.767 c 2.205,-34.824 10.211,-53.882 32.493,-77.434 l 3.488,3.434 c 24.214,-25 88.071,-55 147,0 l 9.143,-9.571 c -18.572,-20.357 -92.286,-66 -165.429,0.429 l 3.66,3.602 c -22.928,24.211 -31.126,43.744 -33.362,79.54 H -231 c 0,-8.102 -0.599,-29.549 11.837,-54.405 4.958,-9.908 11.98,-20.357 21.949,-30.723 v -0.019 c 0.805,-0.879 1.758,-1.829 2.818,-2.825 13.596,-12.783 47.232,-34.111 79.039,-35.183 2.316,-0.078 4.578,-0.259 6.78,-0.189 0.866,-0.045 1.719,-0.057 2.577,-0.08 0.896,-0.016 1.798,-0.021 2.702,-0.017 43.377,-0.018 75.276,26.812 83.584,36.013 L -24,-34.5 C -13.714,-22.714 -4.714,-10.714 0,0"
                      style="fill:#7c7c7c;fill-opacity:1;fill-rule:nonzero;stroke:none"
                      id="path92"></path>
                  </g>
                  <g id="g94" transform="translate(110.1187,18.5654)">
                    <path
                      d="m 0,0 c 0.176,0 0.346,-0.025 0.515,-0.053 -6.16,2.341 -12.08,5.108 -17.597,8.057 0.805,-0.592 1.333,-1.538 1.333,-2.613 0,-1.186 -0.64,-2.212 -1.587,-2.781 4.925,-2.623 9.649,-4.761 14.148,-6.498 -0.041,0.205 -0.064,0.418 -0.064,0.636 C -3.252,-1.456 -1.796,0 0,0"
                      style="fill:#343434;fill-opacity:1;fill-rule:nonzero;stroke:none"
                      id="path96"></path>
                  </g>
                  <g id="g98" transform="translate(91.1187,27.208)">
                    <path
                      d="m 0,0 c 0.395,0 0.769,-0.081 1.12,-0.21 -6.054,3.28 -11.595,6.771 -16.376,10.155 0.318,-0.487 0.507,-1.068 0.507,-1.695 0,-1.251 -0.742,-2.321 -1.807,-2.814 4.572,-3.322 9.011,-6.21 13.307,-8.721 0,0.012 -0.002,0.022 -0.002,0.033 C -3.251,-1.456 -1.796,0 0,0"
                      style="fill:#343434;fill-opacity:1;fill-rule:nonzero;stroke:none"
                      id="path100"></path>
                  </g>
                  <g id="g102" transform="translate(149.9233,11.2266)">
                    <path
                      d="m 0,0 c -2.203,-0.069 -4.464,0.111 -6.78,0.189 -3.723,0.125 -7.47,0.539 -11.208,1.172 0.942,-0.569 1.578,-1.593 1.578,-2.774 0,-0.672 -0.204,-1.295 -0.552,-1.813 5.756,-0.765 10.799,-1.003 15.039,-1.143 z"
                      style="fill:#343434;fill-opacity:1;fill-rule:nonzero;stroke:none"
                      id="path104"></path>
                  </g>
                  <g id="g106" transform="translate(129.6621,13.0049)">
                    <path
                      d="m 0,0 c -6.052,1.177 -12.055,2.934 -17.867,5.082 0.94,-0.57 1.575,-1.594 1.575,-2.773 0,-1.018 -0.477,-1.915 -1.209,-2.512 5.357,-1.782 10.362,-3.014 14.986,-3.872 -0.081,0.282 -0.137,0.575 -0.137,0.884 0,1.59 1.143,2.909 2.652,3.191"
                      style="fill:#343434;fill-opacity:1;fill-rule:nonzero;stroke:none"
                      id="path108"></path>
                  </g>
                  <g id="g110" transform="translate(73.2632,38.5654)">
                    <path
                      d="M 0,0 C 0.28,0 0.546,-0.05 0.804,-0.119 -3.157,2.778 -6.535,5.565 -9.16,8.033 -9.447,7.582 -10.093,6.571 -11.549,4.292 -8.673,1.801 -5.847,-0.496 -3.061,-2.65 -2.838,-1.153 -1.56,0 0,0"
                      style="fill:#343434;fill-opacity:1;fill-rule:nonzero;stroke:none"
                      id="path112"></path>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </a>
      </p>
      <p class="mt-5 text-xl">
        300 DPI Print Quality PNG (3335px X 1118px)
        <a href="./images/keyback-logo-xl.png" target="_blank"
          ><img src="./images/keyback-logo-xl.png" class="my-10" width="800" height="800" /></a
        >
      </p>

      <p class="mt-5 text-xl">
        800px wide PNG
        <a href="./images/keyback-logo-800px-wide.png" target="_blank"
          ><img src="./images/keyback-logo-800px-wide.png" class="my-10" width="800" height="800" /></a
        >
      </p>

      <p class="mt-5 text-xl">
        400 px wide PNG
        <a href="./images/keyback-logo-400px-wide.png" target="_blank"
          ><img src="./images/keyback-logo-400px-wide.png" class="my-10" width="400" height="400" /></a
        >
      </p>

      <p class="mt-5 text-xl">
        200 px wide PNG
        <a href="./images/keyback-logo-200px-wide.png" target="_blank"
          ><img src="./images/keyback-logo-200px-wide.png" class="my-10" width="200" height="200" /></a
        >
      </p>
    </div>
    <hr class="mt-20" />
    <div class="pt-20">
      <h3
        class="pb-10 text-4xl font-normal leading-tighter tracking-normal dark:mb-4 font-heading dark:text-gray-300 text-gray-800 text-left"
      >
        Badges
      </h3>

      <p class="mt-5 text-xl">
        <a download href="./images/keyback-badge-orange.svg" target="_blank">
          <svg
            class="h-[15px] w-auto fill-[#ff5e0e] inline-block pr-1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            ><!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"
            ></path></svg
          >
          <u>Download SVG (orange)</u></a
        >
        <br /><br />
        800px Keyback Orange PNG
        <a href="./images/keyback-badge-orange-800.png" target="_blank"
          ><img src="./images/keyback-badge-orange-800.png" height="140" width="140" /></a
        >
      </p><br />
      <br />
      <p class="mt-5 text-xl">
        <a download href="./images/keyback-badge-green.svg" target="_blank">
          <svg
            class="h-[15px] w-auto fill-[#00FF00] inline-block pr-1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            ><!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"
            ></path></svg
          >
          <u>Download SVG (green)</u></a
        >
        <br /><br />
        800px Green PNG
        <a href="./images/keyback-badge-green-800.png" target="_blank"
          ><img src="./images/keyback-badge-green-800.png" height="140" width="140" /></a
        >
      </p><br />
      <br />

      <p class="mt-5 text-xl">
        <a download href="./images/keyback-badge-white.svg" target="_blank">
          <svg
            class="h-[15px] w-auto fill-[#FFFFFF] inline-block pr-1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            ><!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"
            ></path></svg
          >
          <u>Download SVG (white)</u></a
        ><br /><br />
        800px White PNG
        <a href="./images/keyback-badge-white-800.png" target="_blank"
          ><img src="./images/keyback-badge-white-800.png" height="140" width="140" /></a
        >
      </p>
    </div>
  </div>
</section>
