<section class="scroll-mt-16 pb-20 dark:text-gray-300 dark:bg-gray-900 pr-3" id="">
  <div class="px-4 mx-auto max-w-3xl lg:px-8 pt-10">
    <div class="mb-0">
      <h2 class="py-10 text-3xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading text-center">
        Media Assets
      </h2>
      <h3
        class="pt-10 pb-10 text-4xl font-normal leading-tighter tracking-normal dark:mb-4 font-heading dark:text-gray-300 text-gray-800 text-left"
      >
        Videos for Download
      </h3>
      <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/850513183?h=0b8aafebda&badge=0&autopause=0&player_id=0&app_id=58479"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Keyback in 60 Seconds"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
    </div><br />
    <pre>This is a quick explainer video
Download this video from: <a href="https://vimeo.com/850513183" target="_blank"><u>https://vimeo.com/850513183</u></a></pre>
    <div class="mt-20 wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
      <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
        <iframe
          src="https://fast.wistia.net/embed/iframe/dnkbmuf8st?seo=false&videoFoam=true"
          title="keyback Explainer Video"
          allow="autoplay; fullscreen"
          allowtransparency="true"
          frameborder="0"
          scrolling="no"
          class="wistia_embed"
          name="wistia_embed"
          msallowfullscreen
          width="100%"
          height="100%"></iframe>
      </div>
    </div>
    <script src="https://fast.wistia.net/assets/external/E-v1.js" async></script>
    <br /><pre>For promotion. In part or in whole.
Download link in the share menu of this video</pre>
    <hr class="mt-20" />
    <div class="my-20">
      <h3
        class="pb-10 text-4xl font-normal leading-tighter tracking-normal dark:mb-4 font-heading dark:text-gray-300 text-gray-800 text-left"
      >
        Press Releases
      </h3>

      <p class="mt-5 text-xl">
        <a
          href="https://markets.businessinsider.com/news/stocks/keyback-io-launches-revolutionary-crypto-wallet-backup-recovery-system-with-built-in-deadman-switch-1032420520"
          target="_blank"
          rel="nofollow">Link: <u>Business Insider - Keyback Launch (June 30th 2023)</u></a
        ><br />
        <a
          href="https://news.bitcoin.com/keyback%E2%80%A4io-launches-revolutionary-crypto-wallet-backup-and-recovery-system-with-built-in-deadman-switch/"
          target="_blank"
          rel="nofollow">Link: <u>Bitcoin.com - Keyback Launch (June 30th 2023)</u></a
        ><br />
        <a
          href="https://cryptonews.com/news/keybackio-launches-revolutionary-crypto-wallet-backup-recovery-system-with-built-in-deadman-switch.htm"
          target="_blank"
          rel="nofollow">Link: <u>CryptoNews.com - Keyback Launch (June 30th 2023)</u></a
        >
      </p>
    </div>

    <div class="mt-20">
      <hr class="pt-20" />
      <h3
        class="text-4xl font-normal leading-tighter tracking-normal dark:mb-4 font-heading dark:text-gray-300 text-gray-800 text-left"
      >
        Logos
      </h3>
      <p class="pb-10">Click on links or images to download</p>
      <p class="mt-5 text-xl text-[#ff5e0e]">
        <a download href="images/keyback-logo-vector.svg" target="_blank">
          <svg
            class="h-[15px] w-auto fill-[#ff5e0e] inline-block pr-1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            ><!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"
            ></path></svg
          >
          <u>Download SVG</u></a
        >
      </p>
      <p class="mt-5 text-xl">
        300 DPI Print Quality PNG (3335px X 1118px)
        <a href="images/keyback-logo-xl.png" target="_blank" download
          ><img src="images/keyback-logo-xl.png" class="my-10" width="800" height="800" /></a
        >
      </p>

      <p class="mt-5 text-xl">
        800px wide PNG
        <a href="images/keyback-logo-800px-wide.png" target="_blank" download
          ><img src="images/keyback-logo-800px-wide.png" class="my-10" width="800" height="800" /></a
        >
      </p>

      <p class="mt-5 text-xl">
        400 px wide PNG
        <a href="images/keyback-logo-400px-wide.png" target="_blank" download
          ><img src="images/keyback-logo-400px-wide.png" class="my-10" width="400" height="400" /></a
        >
      </p>

      <p class="mt-5 text-xl">
        200 px wide PNG
        <a href="images/keyback-logo-200px-wide.png" target="_blank" download
          ><img src="images/keyback-logo-200px-wide.png" class="my-10" width="200" height="200" /></a
        >
      </p>
    </div>
    <hr class="mt-20" />
    <div class="pt-20">
      <h3
        class="text-4xl font-normal leading-tighter tracking-normal dark:mb-4 font-heading dark:text-gray-300 text-gray-800 text-left"
      >
        Badges
      </h3>
      <p class="pb-10">Click on links or images to download</p>
      <p class="mt-5 text-xl">
        <a download href="images/keyback-badge-orange.svg" target="_blank" download>
          <svg
            class="h-[15px] w-auto fill-[#ff5e0e] inline-block pr-1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            ><!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"
            ></path></svg
          >
          <u class="text-[#FF5e0e]">Download SVG</u></a
        >
        <br /><br />
        800px Keyback Orange PNG
        <a href="images/keyback-badge-orange-800.png" target="_blank" download
          ><img src="images/keyback-badge-orange-800.png" height="140" width="140" /></a
        >
      </p><br />
      <br />
      <p class="mt-5 text-xl">
        <a download href="images/keyback-badge-green.svg" target="_blank">
          <svg
            class="h-[15px] w-auto fill-[#00FF00] inline-block pr-1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            ><!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"
            ></path></svg
          >
          <u class="text-[#00FF00]">Download SVG</u></a
        >
        <br /><br />
        800px Green PNG
        <a href="images/keyback-badge-green-800.png" target="_blank" download
          ><img src="images/keyback-badge-green-800.png" height="140" width="140" /></a
        >
      </p><br />
      <br />

      <p class="mt-5 text-xl">
        <a download href="images/keyback-badge-white.svg" target="_blank">
          <svg
            class="h-[15px] w-auto fill-[#FFFFFF] inline-block pr-1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            ><!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"
            ></path></svg
          >
          <u>Download SVG</u></a
        ><br /><br />
        800px White PNG
        <a href="images/keyback-badge-white-800.png" target="_blank" download
          ><img src="images/keyback-badge-white-800.png" height="140" width="140" /></a
        >
      </p>
    </div>
  </div>
</section>
