<section class="bg-white dark:bg-gray-800 dark:border-y-1 dark:border-x-0 dark:border-slate-700 border">
  <h2
    class="pt-8 text-2xl font-extrabold tracking-normal leading-tight text-center text-gray-900 dark:text-gray-500 md:text-3xl"
  >
    Keyback has been featured on:
  </h2>
  <div class="w-full py-8 lg:py-10 mx-auto px-20">
    <div class="max-w-[1600px] mx-auto" style="width:100%;">
      <div class="grid grid-cols-1 gap-8 text-gray-500 sm:gap-12 md:grid-cols-3 lg:grid-cols-3 dark:text-gray-400">
        <a href="" class="flex justify-center items-center">
          <img src="/images/bitcoin-dk.png" class="w-64" />
        </a>
        <a href="" class="flex justify-center items-center">
          <img src="/images/business-insider-dk.png" class="w-64" />
        </a>
        <a href="" class="flex justify-center items-center">
          <img src="/images/cryptonews.png" class="w-64" />
        </a>
      </div>
    </div>
  </div>
</section>
