<section class="scroll-mt-16 pb-20 dark:text-gray-300 dark:bg-gray-900 pr-3" id="">
  <div class="px-4 mx-auto max-w-3xl lg:px-8 pt-10">
    <div class="mb-0">
      <h2 class="py-10 text-3xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading text-center">
        Media Assets
      </h2>
      <h3
        class="pt-10 pb-10 text-4xl font-normal leading-tighter tracking-normal dark:mb-4 font-heading dark:text-gray-300 text-gray-800 text-left"
      >
        Videos for Download
      </h3>
      <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/850513183?h=0b8aafebda&badge=0&autopause=0&player_id=0&app_id=58479"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Keyback in 60 Seconds"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
    </div><br />
    <pre>This is a quick explainer video
Download this video from: <a href="https://vimeo.com/850513183" target="_blank"><u>https://vimeo.com/850513183</u></a></pre>
    <div class="mt-20 wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
      <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
        <iframe
          src="https://fast.wistia.net/embed/iframe/dnkbmuf8st?seo=false&videoFoam=true"
          title="keyback Explainer Video"
          allow="autoplay; fullscreen"
          allowtransparency="true"
          frameborder="0"
          scrolling="no"
          class="wistia_embed"
          name="wistia_embed"
          msallowfullscreen
          width="100%"
          height="100%"></iframe>
      </div>
    </div>
    <script src="https://fast.wistia.net/assets/external/E-v1.js" async></script>
    <br /><pre>For promotion. In part or in whole.
Download link in the share menu of this video</pre>
    <div class="mt-20">
      <h3
        class="pb-10 text-4xl font-normal leading-tighter tracking-normal dark:mb-4 font-heading dark:text-gray-300 text-gray-800 text-left"
      >
        Press Releases
      </h3>

      <p class="mt-5 text-xl">
        <a
          href="https://markets.businessinsider.com/news/stocks/keyback-io-launches-revolutionary-crypto-wallet-backup-recovery-system-with-built-in-deadman-switch-1032420520"
          target="_blank"
          rel="nofollow">Link: <u>Business Insider - Keyback Launch (June 30th 2023)</u></a
        ><br />
        <a
          href="https://news.bitcoin.com/keyback%E2%80%A4io-launches-revolutionary-crypto-wallet-backup-and-recovery-system-with-built-in-deadman-switch/"
          target="_blank"
          rel="nofollow">Link: <u>Bitcoin.com - Keyback Launch (June 30th 2023)</u></a
        ><br />
        <a
          href="https://cryptonews.com/news/keybackio-launches-revolutionary-crypto-wallet-backup-recovery-system-with-built-in-deadman-switch.htm"
          target="_blank"
          rel="nofollow">Link: <u>CryptoNews.com - Keyback Launch (June 30th 2023)</u></a
        >
      </p>
    </div>

    <div class="mt-20">
      <h3
        class="pb-10 text-4xl font-normal leading-tighter tracking-normal dark:mb-4 font-heading dark:text-gray-300 text-gray-800 text-left"
      >
        Logos
      </h3>

      <p class="mt-5 text-xl">
        300 DPI Print Quality PNG (3335px X 1118px)
        <a href="./images/keyback-logo-xl.png" target="_blank"
          ><img src="./images/keyback-logo-xl.png" class="my-10" width="800" height="800" /></a
        >
      </p>

      <p class="mt-5 text-xl">
        800px wide PNG
        <a href="./images/keyback-logo-800px-wide.png" target="_blank"
          ><img src="./images/keyback-logo-800px-wide.png" class="my-10" width="800" height="800" /></a
        >
      </p>

      <p class="mt-5 text-xl">
        400 px wide PNG
        <a href="./images/keyback-logo-400px-wide.png" target="_blank"
          ><img src="./images/keyback-logo-400px-wide.png" class="my-10" width="400" height="400" /></a
        >
      </p>

      <p class="mt-5 text-xl">
        200 px wide PNG
        <a href="./images/keyback-logo-200px-wide.png" target="_blank"
          ><img src="./images/keyback-logo-200px-wide.png" class="my-10" width="200" height="200" /></a
        >
      </p>
    </div>

    <div class="pt-20">
      <h3
        class="pb-10 text-4xl font-normal leading-tighter tracking-normal dark:mb-4 font-heading dark:text-gray-300 text-gray-800 text-left"
      >
        Badges
      </h3>

      <p class="mt-5 text-xl">
        800px Keyback Orange PNG
        <a href="./images/keyback-badge-orange-800.png" target="_blank"
          ><img src="./images/keyback-badge-orange-800.png" height="140" width="140" /></a
        >
      </p>

      <p class="mt-5 text-xl">
        800px Green PNG
        <a href="./images/keyback-badge-green-800.png" target="_blank"
          ><img src="./images/keyback-badge-green-800.png" height="140" width="140" /></a
        >
      </p>

      <p class="mt-5 text-xl">
        800px White PNG
        <a href="./images/keyback-badge-white-800.png" target="_blank"
          ><img src="./images/keyback-badge-white-800.png" height="140" width="140" /></a
        >
      </p>
    </div>
  </div>
</section>
