<section class="dark:bg-gray-800" id="pricing">
  <div class="relative max-w-screen-xl px-4 mx-auto sm:px-6 lg:px-8 py-20">
    <div class="max-w-lg mx-auto overflow-hidden rounded-lg shadow-lg pricing-box lg:max-w-none lg:flex">
      <div class="px-6 py-8 bg-white dark:bg-gray-900 lg:flex-shrink-1 lg:p-12">
        <h2
          class="text-4xl min-[1400px]:text-[90px] max-[1535px]:text-6xl min-[1536px]:text-6xl font-bold leading-tighter tracking-tighter dark:mb-8 font-heading dark:text-gray-200 text-gray-600 text-left mb-8"
        >
          Lifetime Deal
        </h2>
        <p class="mt-6 text-base leading-6 text-gray-500 dark:text-gray-200">
          For a limited time we're running a special intro offer to the crypto community. Forget paying monthly, we're
          offering a one time fee for lifetime membership. Get all upgrades and new planned features for free, for life!
        </p>
        <div class="mt-8">
          <div class="flex items-center">
            <h4
              class="flex-shrink-0 pr-4 text-sm font-semibold leading-5 tracking-wider text-blue-600 uppercase bg-white dark:text-blue-400 pl-5"
            >
              What&#x27;s included
            </h4>
            <div class="flex-1 border-t-2 border-gray-200"></div>
          </div>
          <ul class="mt-8 lg:grid lg:grid-cols-2 lg:col-gap-8 lg:row-gap-5">
            <li class="flex items-start lg:col-span-1 py-2">
              <div class="flex-shrink-0">
                <svg
                  class="w-6 h-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#FF5E0E"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  >
                  </path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">All illimited components</p>
            </li>
            <li class="flex items-start lg:col-span-1 py-2">
              <div class="flex-shrink-0">
                <svg
                  class="w-6 h-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#FF5E0E"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  >
                  </path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">Own custom Tailwind styles</p>
            </li>
            <li class="flex items-start lg:col-span-1 py-2">
              <div class="flex-shrink-0">
                <svg
                  class="w-6 h-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#FF5E0E"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  >
                  </path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">Unlimited Templates</p>
            </li>
            <li class="flex items-start lg:col-span-1 py-2">
              <div class="flex-shrink-0">
                <svg
                  class="w-6 h-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#FF5E0E"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  >
                  </path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">Free premium dashboard</p>
            </li>
            <li class="flex items-start lg:col-span-1 py-2">
              <div class="flex-shrink-0">
                <svg
                  class="w-6 h-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#FF5E0E"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  >
                  </path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">Best ranking</p>
            </li>
            <li class="flex items-start lg:col-span-1 py-2">
              <div class="flex-shrink-0">
                <svg
                  class="w-6 h-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#FF5E0E"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  >
                  </path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">Prenium svg</p>
            </li>
            <li class="flex items-start lg:col-span-1 py-2">
              <div class="flex-shrink-0">
                <svg
                  class="w-6 h-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#FF5E0E"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  >
                  </path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">My wife</p>
            </li>
          </ul>
        </div>
        <div class="mt-8">
          <div class="flex items-center">
            <h4
              class="flex-shrink-0 pr-4 text-sm font-semibold leading-5 tracking-wider text-blue-600 dark:text-blue-200 uppercase bg-white dark:bg-gray-800 pl-5"
            >
              &amp; What&#x27;s not
            </h4>
          </div>
          <ul class="mt-8 lg:grid lg:grid-cols-2 lg:col-gap-8 lg:row-gap-5">
            <li class="flex items-start lg:col-span-1 py-2">
              <div class="flex-shrink-0">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  class="w-6 h-6 mr-2"
                  fill="red"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1277 1122q0-26-19-45l-181-181 181-181q19-19 19-45 0-27-19-46l-90-90q-19-19-46-19-26 0-45 19l-181 181-181-181q-19-19-45-19-27 0-46 19l-90 90q-19 19-19 46 0 26 19 45l181 181-181 181q-19 19-19 45 0 27 19 46l90 90q19 19 46 19 26 0 45-19l181-181 181 181q19 19 45 19 27 0 46-19l90-90q19-19 19-46zm387-226q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  >
                  </path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">
                No Contracts. No monthly, setup, or additional payment processor fees
              </p>
            </li>
            <li class="flex items-start lg:col-span-1 py-2">
              <div class="flex-shrink-0">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  class="w-6 h-6 mr-2"
                  fill="red"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1277 1122q0-26-19-45l-181-181 181-181q19-19 19-45 0-27-19-46l-90-90q-19-19-46-19-26 0-45 19l-181 181-181-181q-19-19-45-19-27 0-46 19l-90 90q-19 19-19 46 0 26 19 45l181 181-181 181q-19 19-19 45 0 27 19 46l90 90q19 19 46 19 26 0 45-19l181-181 181 181q19 19 45 19 27 0 46-19l90-90q19-19 19-46zm387-226q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  >
                  </path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">
                No 2-week on-boarding, it takes 20 minutes!
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="px-6 py-8 text-center bg-gray-50 dark:bg-gray-700 lg:flex-shrink-0 lg:flex lg:flex-col lg:justify-center lg:p-12"
      >
        <p class="text-lg font-bold leading-6 text-gray-900 dark:text-white lg:pb-5">
          RRP $1000<br />50% off
        </p>
        <div
          class="flex items-center justify-center mt-4 text-5xl font-extrabold leading-none text-gray-900 dark:text-white"
        >
          <span class="text-3xl dark:text-gray-200 pr-1"> $</span><span class="text-7xl dark:text-gray-200">497</span>
        </div>
        <p class="text-lg font-bold leading-6 text-gray-900 dark:text-white lg:pt-10">Next 300 Only</p>
        <p class="mt-4 text-sm leading-5">
          <span class="block font-medium text-gray-500 dark:text-gray-400"> Pay by Credit/Debit</span>
          <span class="inline-block font-medium text-gray-500 dark:text-gray-400">or BTC/LTC/XLM</span>
        </p>
        <div class="mt-6">
          <div class="rounded-md shadow">
            <a href="https://clients.keyback.io/" target="_self">
              <button
                type="button"
                class="btn btn-primary py-2 px-4 bg-blue-600 hover:bg-blue-700 focus:ring-blue-500 focus:ring-offset-blue-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
              >
                JOIN
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
