---
import { Icon } from 'astro-icon';

interface CallToAction {
  text: string;
  href: string;
  icon?: string;
}

export interface Props {
  title?: string;
  subtitle?: string;
  callToAction?: string | CallToAction;
  callToAction2?: string | CallToAction;
  callToAction3?: string | CallToAction;
  image?: string | any; // TODO: find HTMLElementProps
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  content = await Astro.slots.render('content'),
  callToAction = await Astro.slots.render('callToAction'),
  callToAction2 = await Astro.slots.render('callToAction2'),
  callToAction3 = await Astro.slots.render('callToAction2'),
  image = await Astro.slots.render('image'),
} = Astro.props;
---

<span id="pricing" style="position:relative; top:-40px;"></span>
<section class="dark:bg-gray-800 bg-gray-100">
  <div class="relative max-w-screen-2xl px-4 mx-auto sm:px-6 lg:px-8 py-20">
    <div
      class="max-w-lg mx-auto overflow-hidden rounded-[20px] shadow-lg pricing-box lg:max-w-none lg:flex border-8 border-white dark:border-8 dark:border-gray-900"
    >
      <div class="px-6 py-8 bg-white dark:bg-gray-900 lg:flex-shrink-1 lg:p-12">
        <h2
          class="text-4xl min-[1400px]:text-[70px] max-[1535px]:text-5xl min-[1536px]:text-6xl font-bold leading-tighter tracking-tighter dark:mb-8 font-heading dark:text-white text-gray-600 text-left mb-8 xl:mt-20 lg:mt-10"
        >
          Lifetime Deal
        </h2>
        <p class="mt-6 text-base leading-6 text-gray-500 dark:text-gray-200">
          A trustless, automated way to give your crypto wallets to your heirs if you die. A digital Fort Knox. A
          permanent decentralized backup and recovery for your digital assets. Never lose access to your wallets, ever
          again.<br />Get it for a <span class="underline">limited time for 50% off</span>.
          <br /><br />* All upgrades and new planned features FREE for life
        </p>
        <div class="mt-8">
          <div class="flex items-center">
            <h4
              class="flex-shrink-0 pr-4 text-sm font-semibold leading-5 tracking-wider text-blue-600 dark:text-blue-200 uppercase bg-white dark:bg-gray-800 pl-5"
            >
              What&#x27;s included
            </h4>
            <div class="flex-1 border-t-2 border-gray-200"></div>
          </div>
          <ul class="mt-8 lg:grid lg:grid-cols-2 lg:col-gap-8 lg:row-gap-5">
            <li class="flex items-start lg:col-span-1 py-2">
              <div class="flex-shrink-0">
                <svg
                  class="w-6 h-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#FF5E0E"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  >
                  </path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">Encrypter / Decrypter</p>
            </li>
            <li class="flex items-start lg:col-span-1 py-2">
              <div class="flex-shrink-0">
                <svg
                  class="w-6 h-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#FF5E0E"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  >
                  </path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">Walkthrough screen capture videos</p>
            </li>

            <li class="flex items-start lg:col-span-1 py-2">
              <div class="flex-shrink-0">
                <svg
                  class="w-6 h-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#FF5E0E"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  >
                  </path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">Dead Mans Switch</p>
            </li>
            <li class="flex items-start lg:col-span-1 py-2">
              <div class="flex-shrink-0">
                <svg
                  class="w-6 h-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#FF5E0E"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  >
                  </path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">Community & Support</p>
            </li>
            <li class="flex items-start lg:col-span-1 py-2">
              <div class="flex-shrink-0">
                <svg
                  class="w-6 h-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#FF5E0E"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  >
                  </path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">Private Vault Storage</p>
            </li>
            <li class="flex items-start lg:col-span-1 py-2">
              <div class="flex-shrink-0">
                <svg
                  class="w-6 h-6 mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  stroke="currentColor"
                  fill="#FF5E0E"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  >
                  </path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">Free Updates for Life</p>
            </li>
            <!-- insert here -->
          </ul>
        </div>
        <div class="mt-8">
          <div class="flex items-center">
            <h4
              class="flex-shrink-0 pr-4 text-sm font-semibold leading-5 tracking-wider text-blue-600 dark:text-blue-200 uppercase bg-white dark:bg-gray-800 pl-5"
            >
              &amp; What&#x27;s not
            </h4>
            <div class="flex-1 border-t-2 border-gray-200"></div>
          </div>
          <ul class="mt-8 lg:grid lg:grid-cols-2 lg:col-gap-8 lg:row-gap-5">
            <li class="flex items-start lg:col-span-1 py-2">
              <div class="flex-shrink-0">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  class="w-6 h-6 mr-2"
                  fill="red"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1277 1122q0-26-19-45l-181-181 181-181q19-19 19-45 0-27-19-46l-90-90q-19-19-46-19-26 0-45 19l-181 181-181-181q-19-19-45-19-27 0-46 19l-90 90q-19 19-19 46 0 26 19 45l181 181-181 181q-19 19-19 45 0 27 19 46l90 90q19 19 46 19 26 0 45-19l181-181 181 181q19 19 45 19 27 0 46-19l90-90q19-19 19-46zm387-226q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  >
                  </path>
                </svg>
              </div>
              <p class="ml-3 mr-1 text-sm leading-5 text-gray-700 dark:text-gray-200">
                No monthly memberships, no surprises
              </p>
            </li>
            <li class="flex items-start lg:col-span-1 py-2">
              <div class="flex-shrink-0">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="6"
                  class="w-6 h-6 mr-2"
                  fill="red"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M1277 1122q0-26-19-45l-181-181 181-181q19-19 19-45 0-27-19-46l-90-90q-19-19-46-19-26 0-45 19l-181 181-181-181q-19-19-45-19-27 0-46 19l-90 90q-19 19-19 46 0 26 19 45l181 181-181 181q-19 19-19 45 0 27 19 46l90 90q19 19 46 19 26 0 45-19l181-181 181 181q19 19 45 19 27 0 46-19l90-90q19-19 19-46zm387-226q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"
                  >
                  </path>
                </svg>
              </div>
              <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">
                Nothing complex to learn or configure
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="px-6 py-8 text-center bg-gray-200 dark:bg-gray-700 lg:flex-shrink-0 lg:flex lg:flex-col lg:justify-center lg:p-10 xl:p-40"
      >
        <span class="text-lg font-bold leading-6 text-gray-900 dark:text-white lg:pb-0"> RRP $1000&nbsp;</span><br
          class="sm:hidden md:inline"
        /><span class="dark:text-blue-400 text-blue-400 lg:text-3xl md:text-2xl sm:text-xl text-xl">NOW 50% OFF!</span>

        <!-- <div
          class="flex items-center justify-center mt-4 text-5xl font-extrabold leading-none text-gray-900 dark:text-white"
        >
          <span
            class="text-7xl text-gray-800 dark:text-[#FF5E0E]">497</span
          >
        </div> -->
        <h2
          class="text-4xl min-[1400px]:text-[90px] max-[1535px]:text-7xl min-[1536px]:text-7xl font-bold leading-tighter tracking-tighter dark:mb-8 font-heading dark:text-gray-200 text-gray-700 text-lcenter my-4"
        >
          <span class="text-xl pr-0 relative -top-8 text-gray-800 dark:text-white"> $</span>497
        </h2>
        <p class="text-lg font-bold leading-6 text-gray-900 dark:text-gray-200 lg:pt-0">Next 300 Members Only</p>
        <p class="text-sm font-normal leading-9 text-gray-900 dark:text-gray-200 lg:pt-0">then price returns to RRP</p>
        <div class="mt-6">
          <div class="rounded-md">
            <!-- <a href="https://clients.keyback.io/benefactor-registration" target="_self">
              <button
                type="button"
                class="btn dark:bg-burntorange py-3 px-4 hover:bg-blue-900 focus:ring-blue-500 focus:ring-offset-blue-200 text-white w-full transition ease-in duration-200 text-center text-base font-bold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-[30px]"
              >
                JOIN KEYBACK
              </button>
            </a> -->
            <a
              class="btn btn-primary w-full sm:w-auto"
              href="https://clients.keyback.io/benefactor-registration"
              target="_self"
              rel="noopener"
            >
              {callToAction.icon && <Icon name={callToAction.icon} class="w-5 h-5 mr-1 -ml-1.5" />}
              {callToAction.text}
            </a>
            <p class="mt-10 text-sm leading-5">
              <span class="inline font-medium text-gray-500 dark:text-gray-400 text-xl">
                Pay with&nbsp;
                {
                  callToAction2.icon && (
                    <Icon name={callToAction2.icon} class="w-7 h-7 inline" title="Credit/Debit Card" />
                  )
                }
              </span><span class="inline font-medium text-gray-500 dark:text-gray-400 text-xl"
                >&nbsp;or
                {callToAction3.icon && <Icon name={callToAction3.icon} class="w-7 h-7 inline" title="Bitcoin" />}
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
