---
---

<section class="dark:bg-gray-800 bg-gray-100 md:pb-10 -mt-20 md:px-5">
  <h2
    class="text-4xl min-[1400px]:text-[70px] max-[1535px]:text-4xl min-[1536px]:text-5xl font-bold leading-tighter tracking-tighter dark:mb-8 font-heading dark:text-white text-gray-600 text-center mb-8 xl:mt-10 lg:mt-5 pt-20"
  >
    Seed Words Secure?
  </h2>
  <div class="relative max-w-3xl px-8 mx-auto sm:px-6 lg:px-8 py-0">
    <p class="sm:pb-10 sm:text-xl text-lg pb-5">
      We know all the tricks! The word poems, the secret journal, the circled words in a famous novel... all to remember
      those pesky but valuable words that will recover your fortune.
      <br /><br /> We've got the cryptosteel that your kid just kindly re-arranged for you. We've got scraps of paper soaked
      in coffee, handy lists and QR codes that are a thief's dream. Paper wallets that get tossed out with the old receipts
      by the cleaner. <br /><br />It all needs re-thinking. Would you leave $100k lying around in a drawer? How about a
      post-it note stuck to your computer monitor with your recovery phrase. It happens more than it should! Real
      security is obfuscation and encryption. In other words, hiding it and making it unreadable.
    </p>
  </div>

  <div
    class="mx-auto max-w-6xl md:py-20 rounded-xl dark:bg-[url('/images/crypto-seed-collage.jpg')] bg-[url('/images/crypto-seed-collage.jpg')] bg-no-repeat bg-center md:bg-cover bg-contain min-h-[400px] sm:min-h-[480px] md:min-h-[700px] lg:min-h-[900px]"
  >
  </div>
</section>
