---
---

<section class="dark:bg-gray-800 bg-gray-100">
  <h2
    class="text-4xl min-[1400px]:text-[70px] max-[1535px]:text-4xl min-[1536px]:text-5xl font-bold leading-tighter tracking-tighter dark:mb-8 font-heading dark:text-white text-gray-600 text-center mb-8 xl:mt-10 lg:mt-5 pt-20"
  >
    How's That Security?
  </h2>
  <div class="relative max-w-screen-lg px-4 mx-auto sm:px-6 lg:px-8 py-0">
    <p>
      We know all the tricks! The word poems, the secret journal, the cryptosteel that your kid just re-arranged for
      you. We got scraps of paper soaked in coffee, handy lists and QR codes that are a thief's dream. Paper wallets
      that get tossed out with the old receipts by the cleaner. It all needs re-thinking. Would you leave $100k lying
      around in a drawer? Why do we do it with crypto? Real security is obfuscation and encryption. In other words,
      hiding it and making it unreadable.
    </p>
  </div>

  <div
    class="relative max-w-screen-2xl px-4 mx-auto sm:px-6 lg:px-8 py-20 dark:bg-[url('/images/crypto-seed-collage.jpg')] bg-no-repeat bg-center bg-auto"
    style="min-height:1000px;"
  >
  </div>
</section>
