<section
  class="bg-gray-50 dark:bg-gray-900 py-10 relative z-10 hiw-bgnd -left-1.5 px-2 dark:border-y-0 dark:border-x-0 dark:border-slate-500 border mt-10"
  style="min-width:100%;"
>
  <div style="max-width: 1280px; margin:auto;">
    <div class="mx-auto max-w-3xl text-center">
      <h3 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading text-center">
        Testimonials
      </h3>
      <p class="mb-6 pb-2 text-neutral-500 dark:text-neutral-300 md:mb-12">
        Our dev team has worked alongside experienced cryptyo users, traders and investors to create and fine tune
        Keyback.
      </p>
    </div>

    <div class="grid gap-12 text-center md:grid-cols-2">
      <!--First Testimonial-->
      <div class="mb-6 md:mb-0">
        <div class="mb-6 flex justify-center">
          <img src="images/dr-amy.png" class="w-24 rounded-full shadow-lg dark:shadow-black/30" />
        </div>
        <p class="my-4 text-xl text-neutral-500 dark:text-neutral-300">
          "If you hold or trade cryptocurrency, you need Keyback. Its a must have for me."
        </p>
        <p class="italic">- Dr Amy Chun</p>
      </div>

      <!--Second Testimonial-->
      <div class="mb-0">
        <div class="mb-6 flex justify-center">
          <img src="images/daniel-kashuck.png" class="w-24 rounded-full shadow-lg dark:shadow-black/30" />
        </div>
        <p class="my-4 text-xl text-neutral-500 dark:text-neutral-300">
          "Its a perfect hybrid of offline and cloud-based storage that is absolutely bombproof."
        </p>
        <p class="italic">- Daniel Kashuck</p>
      </div>
    </div>
  </div>
</section>
