---
---

<section class="scroll-mt-16 dark:bg-gray-800" id="">
  <!-- <h2
    class="pt-20 text-4xl min-[1400px]:text-[90px] max-[1535px]:text-6xl min-[1536px]:text-6xl font-bold leading-tighter tracking-tighter dark:mb-0 font-heading dark:text-gray-200 text-gray-600 text-center mb-0 px-10"
  >
    2 Powerful Products in 1
  </h2> -->

  <div
    class="pt-10 text-5xl md:text-6xl font-bold leading-tighter tracking-tighter dark:mb-0 font-heading dark:text-gray-200 text-gray-600 text-center mb-0 px-10"
  >
    <h1 class="pb-5">2 Powerful <br class="lg:hidden sm:inline" />Products in 1</h1>
  </div>

  <div class="pb-10 px-10 pt-10 mx-auto max-w-3xl lg:px-8 lg:pt-10">
    <h3
      class="ml-3 text-xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading md:text-left text-center text-blue-100"
    >
      <div class="md:float-left pr-5 md:ml-0">
        <img
          src="./images/crypto-backup.png"
          alt=""
          class="md:max-w-[76px] sm:max-w-[58px] max-w-[58px] mx-auto mb-3 relative -top-1 2xl:top-1"
        />
      </div>
      Keyback is a Multi-Encrypted, Decentralized Backup & Recovery System for your Crypto Wallets
    </h3>
    <h3
      class="sm:pt-3 md:pt-10 ml-3 text-xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading md:text-left text-center text-blue-100"
    >
      <div class="md:float-left pr-5 md:ml-0">
        <img
          src="./images/crypto-will.png"
          alt=""
          class="md:max-w-[80px] sm:max-w-[60px] max-w-[60px] mx-auto mb-3 relative -top-1 2xl:top-1"
        />
      </div>
      It's also an Automated Digital Estate Plan To Pass On Your Crypto Wealth To Loved Ones After Death
    </h3>
  </div>
</section>
