---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero3.astro';
import Pricing from '~/components/widgets/Pricing.astro';
import HowItWorks from '~/components/widgets/HowItWorks.astro';
import Explainer from '~/components/widgets/Explainer.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Videos from '~/components/widgets/Videos.astro';
import InTheNews from '~/components/widgets/InTheNews.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQ.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <anchor id="top" class="scroll-mt-20"></anchor>
  <Hero
    callToAction={{
      text: 'Watch Video',
      href: '#videos',
      icon: 'tabler:movie',
    }}
    callToAction2={{ text: 'How It Works', href: '#how-it-works-section' }}
    image={{ src: import('~/assets/images/hero.png'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      <span class="text-white dark:text-white" style="position:relative; left: 6px;"
        >Protect Your<br />Crypto Against</span
      >
      <!-- <br /> -->
      <!-- <span
        id="hero-subtitle-1"
        class="text-accent lg:text-5xl md:text-5xl text-4xl dark:text-[#FF5E0E] text-[#FF5E0E] highlight"
        id="thetitle"
      >
        FIRE. FLOOD. THEFT. LOSS.<br />FATAL SPACEWALKS.</span
      > -->

      <section class="animation-container" id="hero-subtitle-1">
        <span class="animation-headline slide">
          <span class="animation-words-wrapper text-accent dark:text-[#FF5E0E] text-[#FF5E0E] highlight mt-4">
            <b class="is-visible text-8xl px-2 tracking-tight text-[#FF5E0E]">FIRE</b>
            <b class="text-8xl px-2 tracking-tight text-[#FF5E0E]">FLOOD</b>
            <b class="text-8xl px-2 tracking-tight text-[#FF5E0E]">THEFT</b>
            <b class="text-8xl px-2 tracking-tight text-[#FF5E0E]">LOSS</b>
            <b id="fatal-spacewalks" class="taller text-[77px] tracking-tight text-[#FF5E0E]">FATAL SPACEWALKS</b>
          </span>
        </span>
      </section>

      <section class="animation-container" id="hero-subtitle-2">
        <span class="animation-headline slide">
          <span class="animation-words-wrapper text-accent dark:text-[#FF5E0E] text-[#FF5E0E] highlight mt-4">
            <b class="is-visible text-6xl px-2 mb-2 tracking-tight text-[#FF5E0E]">FIRE</b>
            <b class="text-6xl mb-2 px-2 tracking-tight text-[#FF5E0E]">FLOOD</b>
            <b class="text-6xl px-2 mb-2 tracking-tight text-[#FF5E0E]">THEFT</b>
            <b class="text-6xl px-2 mb-2 tracking-tight text-[#FF5E0E]">LOSS</b>
            <b id="fatal-spacewalks-2" class="shakeit tall text-[37px] px-2 tracking-tight text-[#FF5E0E]"
              >FATAL<br />SPACEWALKS</b
            >
          </span>
        </span>
      </section>

      <!-- <span
        id="hero-subtitle-2"
        class="text-accent lg:text-5xl md:text-5xl text-4xl dark:text-[#FF5E0E] text-[#FF5E0E] highlight"
        id="thetitle"
      >
        FIRE. FLOOD. THEFT. LOSS.<br />FATAL SPACEWALKS.</span
      > -->
    </Fragment>

    <Fragment slot="subtitle">
      <div id="hero-subtitle">
        <span class="sm:inline text-white/90">
          <span class="font-bold"></span>Joe went for a spacewalk. His family didn't have his crypto details. No logins,
          seed phrases or private keys. Luckily, his cryptocurrency was not lost! Joe's <span class="text-[#FF5E0E]"
            >Dead Man's Switch</span
          > protected his cryptos when he was alive and passed them on automatically to loved ones after his death. Joe's
          family are wealthy because he used Keyback.</span
        >
      </div>
    </Fragment>
  </Hero>

  <Pricing
    callToAction={{
      text: 'Join Keyback',
      href: 'https://clients.keyback.io/benefactor-registration',
      icon: 'tabler:basket',
    }}
    callToAction2={{
      text: 'Credit Card',
      href: '',
      icon: 'tabler:credit-card',
    }}
    callToAction3={{
      text: 'Bitcoin',
      href: '',
      icon: 'tabler:currency-bitcoin',
    }}
  >
    <Fragment slot="title">
      Get Crypto Secure.<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Get Keyback.</span>
    </Fragment>

    <Fragment slot="subtitle">
      Built for digital asset traders and investors.<br class="hidden md:inline" />Don't be the guy who lost his crypto!
    </Fragment>
  </Pricing>

  <!-- <HowItWorks /> -->
  <div class="antialiased text-page bg-light dark:text-slate-300 tracking-tight dark:bg-dark">
    <!-- Note Widget ******************* -->

    <!-- Features Widget *************** -->

    <Videos />

    <!-- <Features
      highlight="Features"
      title="What you get with AstroWind"
      subtitle="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam, eaque ipsa quae."
      items={[
        [
          {
            title: 'Astro + Tailwind CSS Integration',
            description:
              'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
            icon: 'tabler:brand-tailwind',
          },
          {
            title: 'Ready-to-use Components',
            description:
              'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
            icon: 'tabler:components',
          },
          {
            title: 'Best Practices',
            description:
              'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
            icon: 'tabler:list-check',
          },
        ],
        [
          {
            title: 'Excellent Page Speed',
            description:
              'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
            icon: 'tabler:rocket',
          },
          {
            title: 'Search Engine Optimization (SEO)',
            description:
              'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
            icon: 'tabler:arrows-right-left',
          },
          {
            title: 'Open to new ideas and contributions',
            description:
              'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
            icon: 'tabler:bulb',
          },
        ],
      ]}
    /> -->

    <!-- Content Widget **************** -->

    <!-- <Content
      highlight="Inside template"
      title="And what's inside? ..."
      items={[
        {
          title: 'Per ei quaeque sensibus',
          description:
            'Ex usu illum iudico molestie. Pro ne agam facete mediocritatem, ridens labore facete mea ei. Pro id apeirian dignissim.',
        },
        {
          title: 'Cu imperdiet posidonium sed',
          description:
            'Amet utinam aliquando ut mea, malis admodum ocurreret nec et, elit tibique cu nec. Nec ex maluisset inciderint, ex quis.',
        },
        {
          title: 'Nulla omittam sadipscing mel ne',
          description:
            'At sed possim oporteat probatus, justo graece ne nec, minim commodo legimus ut vix. Ut eos iudico quando soleat, nam modus.',
        },
      ]}
      image={{
        src: import('~/assets/images/caos.jpg'),
        alt: 'Colorful Image',
      }}
    >
      <Fragment slot="content">
        <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Ad vix debet docendi</h3>
        Ne dicta praesent ocurreret has, diam theophrastus at pro. Eos etiam regione ut, persius eripuit quo id. Sit te euismod
        tacimates.
      </Fragment>
    </Content> -->

    <!-- Content Widget **************** -->

    <!-- <Content
      isReversed
      isAfterContent
      items={[
        {
          title: 'Per ei quaeque sensibus',
        },
        {
          title: 'Cu imperdiet posidonium sed',
        },
        {
          title: 'Nulla omittam sadipscing mel ne',
        },
        {
          title: 'Per ei quaeque sensibus',
        },
        {
          title: 'Cu imperdiet posidonium sed',
        },
        {
          title: 'Nulla omittam sadipscing mel ne',
        },
      ]}
      image={{
        src: import('~/assets/images/vintage.jpg'),
        alt: 'Vintage Image',
      }}
    /> -->

    <InTheNews />

    <HowItWorks
      callToAction={{
        text: 'show',
        href: '#',
        icon: 'tabler:caret-down',
      }}
    />
    <!-- Steps Widget ****************** -->

    <!-- <Steps
      title="Get your dream website up and running in no time with AstroWind."
      items={[
        {
          title: 'Step 1: <span class="font-medium">Download</span>',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula.',
          icon: 'tabler:package',
        },
        {
          title: 'Step 2: <span class="font-medium">Add content</em>',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla.',
          icon: 'tabler:letter-case',
        },
        {
          title: 'Step 3: <span class="font-medium">Customize styles</span>',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula. Fusce sit amet dui tellus.',
          icon: 'tabler:paint',
        },
        {
          title: 'Ready!',
          icon: 'tabler:check',
        },
      ]}
      image={{
        src: import('~/assets/images/creativity.jpg'),
        alt: 'Steps image',
      }}
    /> -->

    <!-- Features2 Widget ************** -->

    <!-- <Features2
      title="Most used widgets"
      subtitle="Provides frequently used components for building websites using Tailwind CSS"
      highlight="Components"
      items={[
        {
          title: 'Headers',
          description:
            'In general, Headers contain information that makes it easier for visitors to interact with the website.',
          icon: 'flat-color-icons:template',
        },
        {
          title: 'Heros',
          description:
            'If you want your website to get more than its fair share of visitors, the Hero section needs to be stellar.',
          icon: 'flat-color-icons:gallery',
        },
        {
          title: 'Features',
          description:
            'Display your product in action and how the Features actually create a solution for your target customer.',
          icon: 'flat-color-icons:todo-list',
        },
        {
          title: 'Content',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
          icon: 'flat-color-icons:document',
        },
        {
          title: 'Call-to-Action',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
          icon: 'flat-color-icons:advertising',
        },
        {
          title: 'Pricing',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
          icon: 'flat-color-icons:currency-exchange',
        },
        {
          title: 'Testimonial',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
          icon: 'flat-color-icons:voice-presentation',
        },
        {
          title: 'Contact',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
          icon: 'flat-color-icons:business-contact',
        },
        {
          title: 'Footers',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
          icon: 'icon-park:page-template',
        },
      ]}
    /> -->

    <!-- HighlightedPosts Widget ******* -->

    <!-- <LatestPosts
      title="Find out more content in our Blog"
      information={`The blog is used to display AstroWind documentation.
			Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
			Astro is a very interesting technology. Thanks.
		`}
      postIds={[
        'get-started-website-with-astro-tailwind-css.md',
        'how-to-customize-astrowind-to-your-brand.md',
        'useful-resources-to-create-websites.md',
        'astrowind-template-in-depth.md',
      ]}
    /> -->

    <!-- FAQs Widget ******************* -->

    <FAQs />

    <!-- Stats Widget ****************** -->

    <!-- <Stats
      items={[
        { name: 'Downloads', value: '132K' },
        { name: 'Stars', value: '24.8K' },
        { name: 'Forks', value: '10.3K' },
        { name: 'Users', value: '48.4K' },
      ]}
    /> -->

    <!-- CallToAction Widget *********** -->

    <CallToAction
      callToAction={{
        text: 'Join Keyback',
        href: 'https://clients.keyback.io/benefactor-registration',
        icon: 'tabler:basket',
      }}
    >
      <Fragment slot="title">
        Secure Your Crypto Future.&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Keyback.</span>
      </Fragment>

      <Fragment slot="subtitle">
        Built for digital asset traders and investors.<br class="hidden md:inline" />
      </Fragment>
    </CallToAction>
  </div>
</Layout>
