---
import '~/assets/styles/base.css';
import '~/assets/styles/stars.css';
import MetaTags from '~/components/common/MetaTags.astro';
import BasicScripts from '~/components/common/BasicScripts.astro';
// import Tapfiliate from '~/components/common/Tapfiliate.astro';
import TrackingCode from '~/components/common/TrackingCode.astro';
import Chatbase from '~/components/widgets/Chatabse.astro';
import { MetaSEO } from '~/types';
import { SITE } from '~/config.mjs';

export interface Props {
  meta?: MetaSEO;
}

const { meta = {} } = Astro.props;
const { language = 'en', textDirection = 'ltr' } = SITE;
---

<!DOCTYPE html>
<html lang={language} dir={textDirection} class="2xl:text-[20px] dark">
  <head>
    <MetaTags {...meta} />
    <TrackingCode />
  </head>

  <body onmouseleave="showModal();">
    <slot />
    <!-- <Chatbase /> -->
    <BasicScripts />
    <!-- <Tapfiliate /> -->

    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
    <script is:inline>
      var modalShown = 0;
      function showModalDialog() {
        if (modalShown == 0) {
          document.getElementById('myModal').classList.remove('hidden');
          modalShown = 1;
        }
      }
      function showModal() {
        if (modalShown == 0) {
          showModalDialog();
          modalShown = 1;
        }
      }

      // Close the modal when the close button or overlay is clicked
      document.getElementById('closeModal').addEventListener('click', function () {
        document.getElementById('myModal').classList.add('hidden');
      });

      // Close the modal when the Escape key is pressed
      document.addEventListener('keydown', function (event) {
        if (event.key === 'Escape') {
          document.getElementById('myModal').classList.add('hidden');
        }
      });

      setInterval(showModalDialog, 30000);
    </script>
  </body>
</html>
